[2016-09-21 01:26] MarkPieszak opened #1 "Add websockets"
Work in progress...

[2016-09-21 01:26] MarkPieszak opened #2 "Showcase NgRx"

[2016-09-21 01:27] MarkPieszak opened #3 "Add HMR state management"

[2016-09-28 16:11] MarkPieszak opened #4 "Add Material Design"

[2016-10-02 14:13] MarkPieszak opened #5 "Add websockets demo"
Issue with VStudio, port setup not wiring up.
Add better Redux/Eventing example on server side.

[2016-10-28 18:08] MarkPieszak opened #6 "Add unit testing & e2e testing"

[2016-10-29 16:23] MarkPieszak opened #7 "Add codelyzer for static type checking"

[2016-10-29 16:23] MarkPieszak opened #8 "Upgrade to Webpack 2"

[2016-10-29 16:24] MarkPieszak opened #9 "Showcase lazy loading"
Note: Currently unavailable in Universal repo (if that page is initially hit, or refresh is his on it)

[2016-10-29 16:24] MarkPieszak opened #10 "Add AoT with Universal etc"

[2016-11-01 23:42] MarkPieszak opened #11 "Add option for ng2-bootstrap"

[2016-11-06 15:16] #8 closed, assigned to nobody

[2016-11-06 15:17] MarkPieszak opened #12 "Add fixes for Angular 2.1.1+"
Awaiting necessary fixes from Angular Core.
TBD

[2016-11-06 21:30] #11 closed, assigned to nobody

[2016-11-06 22:02] MarkPieszak commented on #4
Using bootstrap instead.

[2016-11-06 22:02] #4 closed

[2016-11-06 22:37] MarkPieszak opened #13 "Add NgCache for universal"

[2016-11-07 00:28] MarkPieszak commented on #13
Now implemented

[2016-11-07 00:28] #13 closed

[2016-11-07 01:12] #1 closed

[2016-11-07 15:15] #6 closed

[2016-11-07 15:15] #7 closed

[2016-11-07 18:33] MarkPieszak opened #14 "Add Live web-demo of repo"

[2016-11-09 14:22] MarkPieszak opened #15 "Create ability to auto-clean cache, or manually trigger it"
HttpCacheService needs some kind of auto-cleaner, so that even after a cached response is held between the server & client, it gets removed later, since on route changes we might need fresh data (not the old cached one).

[2016-11-09 20:28] #15 closed

[2016-11-10 21:11] MarkPieszak opened #17 "Cleanup JS/client config files"
- Reorganize & improve file structure.
- Improve file documentation
- Cleanup unused code

[2016-11-13 16:10] MarkPieszak opened #18 "Add webpack dashboard"

[2016-11-13 16:21] MarkPieszak opened #19 "Add Redux Devtools"
Added in commit https://github.com/MarkPieszak/aspnetcore-angular2-universal/commit/0e06dbc18ca495de5fcf662272450b47340ed42d

[2016-11-13 16:30] #2 closed

[2016-11-13 16:37] #3 closed

[2016-11-13 16:37] #19 closed

[2016-11-13 16:38] #18 closed

[2016-11-13 19:56] Ardevik opened #20 "Add Material design 2 example"
I try to use your template, and change the ng2-bootstrap with the material2 but I always get an error. Can you add the sample for material2

[2016-11-13 20:57] MarkPieszak commented on #20
Sure, not a problem.
I wasn't sure whether to go bootstrap or material for the Starter, but I can showcase how to set that up. There's a few gotchas with Universal & Material.

[2016-11-13 21:25] MarkPieszak commented on #20
Also, how are you setting it up now, and what is the error you're getting?

[2016-11-14 01:41] MarkPieszak opened #21 "Update sourcemaps to work with VSCode updated debugging"
SourceMapDevToolPlugin

On hold for a while.

C# debugging works out of the box, but Webpack TS sourcemaps can't be integrated with vscode-chrome-debugging just yet in this fashion (unless we had a straight up Node server).

[2016-11-14 11:35] MarkPieszak opened #22 "Showcase dependency injection between different platforms (browser/server)"
IE: localStorage or sessionStorage for example

[2016-11-14 22:35] MarkPieszak commented on #20
So it looks like Material2 doesn't work with Universal or Webworkers at the moment, they're still in Alpha so I'm not sure exactly when we'll be in sync, so we'll have to delay that Integration unfortunately!

Although if you shut off server-side rendering for now, you'll be able to use Material2.
You can just remove the `asp-prerender` tags in Views/Home/Index.cshtml to disable it.

https://githu

[2016-11-15 22:23] MarkPieszak opened #23 "Create AoT (Ahead-of-time compilation) production build"

[2016-11-16 15:44] #22 closed

[2016-11-17 11:21] darklx opened #24 "Exception: Call to Node module failed with error: reflect-metadata shim is required when using class decorators"
Hello,

Get an error:

<img width="944" alt="screen shot 2016-11-17 at 7 12 54 pm" src="https://cloud.githubusercontent.com/assets/3222379/20387185/e67cde34-acf9-11e6-9b79-68967167d6fa.png">

but It's ok to use webpack build:
<img width="452" alt="screen shot 2016-11-17 at 7 12 49 pm" src="https://cloud.githubusercontent.com/assets/3222379/20387191/ece5535a-acf9-11e6-9984-e0e1ce481798.png">

**The

[2016-11-17 12:43] MarkPieszak commented on #24
@darklx Hey there, so this is a fairly common install issue that stems from an older version of NPM. You'll need npm 3.*+. You can do `node --version && npm --v` to see what you currently have.

If you go and install the latest Node, 7.1, you should be able to install everything over again without any problems. Just make sure to wipe out your node_modules beforehand.

Thanks for reminding me I'll

[2016-11-17 13:55] darklx commented on #24
When I upgrade to node 7.0,0 It's OK,than you !!!

[2016-11-17 13:55] #24 closed

[2016-11-17 14:02] MarkPieszak commented on #24
Glad to hear it. Keep an eye out for more updates to come. Doing some general clean-up, and trying to get some more real-world examples in here as soon as I can.

[2016-11-17 14:09] darklx commented on #24
Cool !!

[2016-11-17 15:43] #9 closed

[2016-11-17 15:57] #23 closed

[2016-11-19 15:47] #21 closed

[2016-11-22 04:09] ylibrach commented on #23
@MarkPieszak I noticed this is closed, but #10 is still open. Is AoT implemented? I'm also not seeing any commits relating to AoT in the past few weeks. Thanks!

[2016-11-22 12:45] MarkPieszak commented on #23
Hey there, sorry yeah I didn't realize I had duplicate issues for the same thing so I closed this one out.
I haven't put it in yet, but hoping to either today or tomorrow. Apologies!

[2016-11-22 17:56] ylibrach commented on #23
Makes sense, thanks @MarkPieszak. Great job on this project!

[2016-11-23 02:45] cormacrelf commented on #12
This results in an `Error: cannot find module '@angular/compiler'` in that `__2.2.1.workaround.js` in the console output when ASPNET_ENVIRONMENT is set to Production.

[2016-11-23 12:47] MarkPieszak commented on #12
Let me take a look at this today, thanks for making the issue Cormac!

[2016-11-23 14:47] #12 closed

[2016-11-23 14:49] MarkPieszak commented on #12
@cormacrelf It should be all set now! Won't have time to get AoT in there with Thanksgiving and all, but next week for sure 👍

[2016-11-23 14:55] MarkPieszak opened #25 "Add VSCode Dev & Prod launch options"
Once setting `set ASPNETCORE_ENVIRONMENT=Production` in command line, you must run `webpack` manually (at the moment at least), then you can Launch the `[Production] Launch Web` option from VSCode to see the Production version.  (*Note, HMR etc is off in prod mode of course.*)

[2016-11-23 14:55] MarkPieszak commented on #25
Closed via commit 624dac6cf0d4a109c7833e2ba700dd9e1bb09937

[2016-11-23 15:19] cormacrelf commented on #12
Nice one, cheers for the quick fix!

[2016-11-24 06:20] ajayppeter opened #26 "Exception: Call to Node module failed with error: reflect-metadata shim is required when using class decorators"
Exception details

Microsoft.AspNetCore.Diagnostics.DeveloperExceptionPageMiddleware:Error: An unhandled exception has occurred while executing the request

System.Exception: Call to Node module failed with error: reflect-metadata shim is required when using class decorators
   at Microsoft.AspNetCore.NodeServices.HostingModels.HttpNodeInstance.<InvokeExportAsync>d__7`1.MoveNext()
--- End of stack

[2016-11-24 16:55] MarkPieszak commented on #26
What version of Node & npm are you using? Make sure you have the latest Node 7.*+. I believe this issue stems from npm lower than 3.

Let me know if that helps!

[2016-11-25 05:46] ajayppeter commented on #26
Thanks, that works

[2016-11-25 05:46] #26 closed

[2016-11-25 16:12] mahbub-a-rob commented on #20
We are trying to use your template with Material2 as well. Waiting for the example app.

[2016-11-25 16:56] MarkPieszak commented on #20
Hey @mahbub-a-rob, I spoke with a few Material devs the other day and it's on their priority list especially for their 1.0 release but at this moment it doesn't work right out of the box. I believe there might be some very hacks ways to get Material to work when server rendering, but they would keep changing release to release. :(

For the time being, would it be fine to shut off server side rende

[2016-12-05 12:50] DavidRouyer opened #27 "Server side rendering: incorrect generated HTML"
Your server side logic in "bootstrap-server.ts" is rendering a full HTML document inside your Razor template. If your disable Javascript inside your browser and you render the page, you're ending up with something like this:
[code]

[2016-12-05 13:36] MarkPieszak commented on #27
Hey David, thanks for creating the issue!

Yes for now, on the Universal end, we require the entire`<!DOCTYPE><html>` element to be passed in, but in the next upcoming weeks, there will be some big underlying changes within Universal, so we won't need to pass in everything anymore, we'll just be able to pass in `<app></app>` or whatever root element you're using, and it'll stop generating all of t

[2016-12-07 19:26] #27 closed

[2016-12-07 19:26] MarkPieszak commented on #27
Fixed now, forgot I had fixed this a while back in Universal! @DavidRouyer

[2016-12-07 20:13] DavidRouyer commented on #27
Thanks a lot!
You still have an extra empty <title> tag (no idea why).

And perhaps you can do something like:
[code]
instead of:
[code]
(Or by putting the attributes on the body tag)
You'll have the same result with or without Javascript enabled :)

[2016-12-07 20:50] MarkPieszak commented on #27
Interesting, really.
I'll take a look! I'm trying to update a whole bunch of things as we speak :+1:

[2016-12-10 04:42] Mahbub-A-Rob opened #28 "[proposal] Add Electron support"
Wonder if you could add electron support as well.

[2016-12-11 04:14] MarkPieszak commented on #28
Good idea, sure why not !

[2016-12-11 20:44] tinchou commented on #10
What's keeping us from AoT'ing with Universal and ASP.NET?

[2016-12-13 03:17] MarkPieszak commented on #10
I'll get going with it tomorrow @tinchou
Keep you posted!

[2016-12-14 22:20] MarkPieszak opened #29 "Pass NgRx State from Server -> Client"
Currently we have NgRx Store on the Server, but we need to pass these easily to the client, then initialize the Store with those values. This way if someone uses the Store to handle a lot of their application they can transfer cache/state here instead.

This is another option as opposed to [HttpCacheService](https://github.com/MarkPieszak/aspnetcore-angular2-universal/blob/master/Client/shared/cac

[2016-12-19 06:57] ajayppeter opened #30 "Add ASP.NET View Template"
Hi,

Can you please add a sample on loading ASP.NET View as template, with server rendering feature

[2016-12-19 13:18] MarkPieszak commented on #30
In Views/Home/Index.cshtml, we're loading a View there, loading in its Controller [here](https://github.com/MarkPieszak/aspnetcore-angular2-universal/blob/master/Server/Controllers/HomeController.cs#L11-L14). Or did you mean something else? This View is creating the entire Angular2 process.

[2016-12-19 15:51] ajayppeter commented on #30
Yes, initial view loaded with root component. There after no ASP.NET views has been used, all templates are made up with .html static files. We can implement angular 2 application with ASP.NET Views giving templateUrl as path to controller. But I didn't get any reference for ASP.NET View implementation on component (using templateUrl) with angular universal. Any technical difficulties with this?

[2016-12-19 16:09] MarkPieszak commented on #30
Yeah once the application starts, you're no longer using / need ASP.NET's views. We simply need to use it (in this case MVC) so that we can get the server-rendered portion of Angular2.

We don't reference the ASP.NET View file or anything inside the app, you can think of it as the `index.html` you'd typically see to start up an application.

If you'd want to simultaneously have some separate secti

[2016-12-19 18:07] ajayppeter commented on #30
Yes, but when it comes to development features like master page, helpers not possible with static files. I have seen in your sample fetching data from ASP.NET server with node. I want to know is this a limitation of angular universal? Or may available in future

[2016-12-19 19:06] MarkPieszak commented on #30
Well it does technically have a masterpage for the SPA, it's here (https://github.com/MarkPieszak/aspnetcore-angular2-universal/blob/master/Views/Shared/_Layout.cshtml)

If you're saying you want to load a *different* ASP.NET *View* inside of the Angular2 app, then yes that's just a limitation in general, we can't load .NET things once the App has started. You could _redirect_ to an ASP.NET View,

[2016-12-20 05:16] ajayppeter commented on #30
How you go about a Layout switch, I have Layout 1 & Layout 2 (master pages), depends on them I'll choose which Layout to use. In some situation I have to rework on html too

[2016-12-22 17:54] jmaocanada opened #31 "Getting error Exception: Call to Node module failed with error: reflect-metadata shim is required when using class decorators"
Just cloned to desktop and loaded the solution into VS 2015. My OS is Win10.
Packages restored properly. Solution builds nicely.

But after I try to launch the application, the browser shows this error: "Exception: Call to Node module failed with error: reflect-metadata shim is required when using class decorators".

Any idea?

[2016-12-22 20:12] MarkPieszak commented on #31
So it sounds like you have an older version of Node & NPM installed (npm 2 or lower).
Can you install the latest Node 7.* (https://nodejs.org/en/) ?

That should make it go away :1st_place_medal:

Let me know!

[2016-12-23 13:27] #31 closed

[2016-12-23 13:32] MarkPieszak commented on #30
If you need to make different style decisions based on layouts, you could also just create different Main wrapper/app Components that are rendered depending on different circumstances, let's say a different user type, client, etc.

I believe you also could make these decisions quickly on the .NET side and renders different Controller View, here we only use the Home/Index. Give it a shot!

[2016-12-23 13:35] MarkPieszak commented on #20
Waiting on https://github.com/angular/material2/issues/308

[2016-12-23 15:06] jmaocanada commented on #31
Thanks Mark, You are correct.

[2016-12-23 17:50] ajayppeter commented on #30
Thanks Mark, Let me try

[2016-12-23 17:50] #30 closed

[2016-12-27 18:07] MarkPieszak opened #32 "Showcase Angular Title service"
Show how we can automatically update it through `data` within a `Route`.

Updated Root App Component, subscribing to NavigationEnd event and changing Title through MetaService when route finishes changing.

Currently only works in Browser, as we're not supplying the entire Html document. We'll have to look into fixing this later.

[code]

[2016-12-28 16:12] MarkPieszak opened #33 "Update CSS for bootstrap4 & fix ng2-bootstrap API changes"
Add bootstrap4-alpha7 CSS to layout.

Fix Ng2-bootstrap issues with latest version:

Now imported like:
**`import { Ng2BootstrapModule } from 'ng2-bootstrap';`**
*Previously*:
`import { Ng2BootstrapModule } from 'ng2-bootstrap/ng2-bootstrap';`

Also needs to be called with `Ng2BootstrapModule.forRoot()` now.
Updates will be in `app.common.ts`

[2016-12-29 22:03] Mahbub-A-Rob commented on #20
Hey, @MarkPieszak, yeah, sure, as we have no other option right now. In that case, I guess, it would be better to provide an example for the users on "How to use Material2 in this app" until we get the facility with server side rendering.

[2016-12-29 22:26] MarkPieszak commented on #20
Good idea, I'll add a section to the readme to point it out! @Mahbub-A-Rob

[2017-01-04 02:12] MarkPieszak commented on #20
Added the note! I'll close this out for now. I'll let you know when Material gets full Universal support 👍

[2017-01-04 02:12] #20 closed

[2017-01-04 14:42] Silverdark opened #34 "Update instructions"
Before I think of using this, I would like to know how I can maintain the newest updates from the repository.

Should I fork the repo and merge every time the updates of this repo to my repo or is there an other update mechanism I don't know about? If yes, you could add this to the readme :).

Thanks in advance.

[2017-01-04 15:28] MarkPieszak commented on #34
Great idea! I'll have to write something up on that.
I'm going to make some bigger updates soon (now that the holidays are over and I have more time), and I'll try to keep a **CHANGELOG** going for bigger changes then on.

*Ideally*, I'd like to have the project be a drop-in replacement, where you pull-down the latest, and simply replace the Client & Server folders from the new version you pulled

[2017-01-09 15:44] MarkPieszak opened #35 "Add Dependency Injection (Client & Server abstraction) localStorage example"
Example implementation to add:

[code]
Then you want your abstraction Class.

[code]

[2017-01-10 10:56] OEvgeny opened #36 "[proposal] Make architecture picture a bit cleaner"
The subject of my proposal is [this picture](https://github.com/MarkPieszak/aspnetcore-angular2-universal/blob/master/architecture.png) (browser block).

For me it was very easy to understand how universal is working except html hydration part. As described in [docs](https://github.com/angular/universal/blob/master/DOCUMENTATION.md#-how-does-it-work) Angular Universal does not support full hydrati

[2017-01-10 13:51] MarkPieszak commented on #36
Hey there @OEvgeny

You're totally right I need to clear up some wording & make things more specific!
In our case we (at least not currently) are replacing the DOM completely with the client-rendered one when it finishes bootstrapping.

I'll fix something up today and get a better one in there so it doesn't cause any confusion. Thanks for pointing that out, forgot I meant to update this, just thre

[2017-01-10 16:16] nigul2009 opened #37 "I have some issues with tslint"
Hi,

I have a some issues with tslint:

The Log after run lint script:

 info it worked if it ends with ok
1 verbose cli [ 'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'run',
1 verbose cli   'lint' ]
2 info using npm@4.0.5
3 info using node@v7.4.0
4 verbose run-script [ 'prelint', 'lint', 'postlint' ]
5 info

[2017-01-10 17:18] #37 closed

[2017-01-10 19:56] MarkPieszak commented on #37
Were you able to get it working?

[2017-01-11 15:27] MarkPieszak commented on #10
Waiting for when we finish the move to Core https://github.com/angular/angular/issues/13822

[2017-01-12 09:21] nigul2009 commented on #37
Yes, I were able!!

I had to fix some warnings about code quality(google style guide) that suggested tslint, that warnings came with the project initially.

tslint is very good.

Thanks Mark.

[2017-01-12 09:44] nigul2009 opened #38 "You need to include some adapter that implements __karma__.start method!"
Hi,

I have some problems executing the comand npm “karma start”:

npm : keywords if/then/else require v5 option

_[33m10 01 2017 18:11:06.625:WARN [karma]: _[39mNo captured browser, open http://localhost:9876/
_[32m10 01 2017 18:11:06.634:INFO [karma]: _[39mKarma v1.3.0 server started at http://localhost:9876/
_[32m10 01 2017 18:11:35.871:INFO [Chrome 55.0.2883 (Windows 10 0.0.0)]: _[39mConnected

[2017-01-12 12:09] MarkPieszak commented on #38
Let me take a look! Thanks for letting me know about it
@nigul2009

[2017-01-12 14:03] AbrarJahin opened #39 "Request to add SignalR example"
I think adding signalR ( https://www.asp.net/signalr ) example is better than adding WebSocket example.

So, I think signalR can be added here

[2017-01-12 14:05] AbrarJahin opened #40 "Request to update angular to 2.4"
I think update Angular to it's latest version will be more excited

[2017-01-12 14:10] AbrarJahin opened #41 "[proposal] Adding webRTC example"
I think adding WebRTC example will be helpful for enriching this template.

I am working on adding WebRTC ( https://webrtc.org/ ) to this library.

If you agree to add webRTC to this library, I proudly like to contribute here :)

[2017-01-12 14:56] MarkPieszak commented on #40
Unfortunately (even with the workarounds) we're unable to update to higher than 2.2.1 where I have it now, until Universal core moves into Angular Core itself. (https://github.com/angular/angular/issues/13822)

We may be doing one final `angular2-universal` release (before it's `@angular/platform-server`) to fix a few other issues, and make it upgrade-able to 2.4. I'll add it in here as soon as it

[2017-01-12 14:57] MarkPieszak commented on #39
I think that's a good idea, at the time SignalR wasn't even in Alpha yet, but it's a much cleaner option than raw websockets.

I'll close out #5 so we can add SignalR instead! Thanks :)

[2017-01-12 14:58] MarkPieszak commented on #5
Closing out to add SignalR #39 instead of raw websockets.

[2017-01-12 14:58] #5 closed

[2017-01-12 15:05] MarkPieszak commented on #41
It'd probably have to be separated out and not rendered / connected during the server-rendering, but if you used `import { isBrowser } from 'angular2-universal';` to set it up conditionally that could be nice!

Can you make a separate Route / page for it to showcase it?

Also I should be making a larger update today or tomorrow to update a few core things so I'm not sure if you want to wait until

[2017-01-12 20:31] #36 closed

[2017-01-12 20:33] MarkPieszak commented on #36
Closed via https://github.com/MarkPieszak/aspnetcore-angular2-universal/commit/a808990abbffcd50bd0b7a96689bbf6bff05a2ec hope that helps so that it all makes more sense! Thanks for pointing those things out again :+1:  Appreciate it

[2017-01-12 20:35] OEvgeny commented on #36
@MarkPieszak Thanks very mach. Looks nice!

[2017-01-13 05:39] abrarjahin commented on #39
Thanks for your interest :)

[2017-01-13 05:43] abrarjahin commented on #41
Sure, I am waiting for your next update.

After that, I like to add webRTC with it in a separate route.

And after doing that I will request you to add that, then if u agree, I like to contribute :)

[2017-01-13 05:46] abrarjahin commented on #40
Sure I understand.

NP, I am waiting till then :)

[2017-01-13 05:49] abrarjahin commented on #39
I have done little works with signalR.

Initial setup is done in this project-

https://github.com/abrarjahin/signalR_BasicWorking

It is with signalR and ASP.Net Core

[2017-01-15 00:24] #33 closed

[2017-01-15 01:49] #38 closed

[2017-01-15 01:50] MarkPieszak commented on #38
Fixed, forgot I hadn't added the karma test file :)
Next up I'll add some real tests to get things going & fix up the tslint issues (coming from pretest)

[2017-01-15 15:55] MarkPieszak opened #42 "fix tslint errors"

[2017-01-15 16:13] #42 closed

[2017-01-16 08:22] nigul2009 commented on #38
Good news!!! Thanks Mark.

[2017-01-17 10:40] AbrarJahin opened #43 "Vendor.css file is not generated"
Hi, I have cloned this repo and started with VS 2015 with Node.JS.

I think I am not getting the output it supposed to be.

I am getting-

    "./vendor/vendor.css" not found

![Error](https://cloud.githubusercontent.com/assets/4152843/22053192/4aec2cf8-dd79-11e6-8640-0a4d27b93220.jpeg)

Can anyone please help?

[2017-01-17 12:17] MarkPieszak commented on #43
Let me take a look, what is `http://image.prntscr.com/image/a7b1f2c8ca3448d9a72e3310aba76528.jpeg` ?

[2017-01-17 14:39] Moalpima opened #44 "Use of a component which needs 'core-js'"
Hi,

I added the "angular2-tree-component" component via npm and got the error "TS2688: Cannot find type definition file for 'core-js'.

After installing "@types\core-js" I got "TS2300: Duplicate identifier 'PropertyKey'" (lib.es2015.core.d.ts).

Has anyone an idea how I can fix that problem?

[2017-01-17 15:30] MarkPieszak commented on #44
Within the `tsconfig` you'll see: `"lib": [ "es6", "dom" ],`

The duplicate identifiers are coming from the `es6` part there.

I also forgot this template still has the older es6-shim as a devDependency as opposed to core-js there. Having that instead of es6-shim, you won't need the `@types/core-js` since you'll have core-js included anyway. This should also help polyfill older browsers as well.

[2017-01-17 15:34] MarkPieszak commented on #44
Can you give that a shot and see if it takes care of everything? Just checked in the replacement for es6-shim with core-js as a devDependency (a few other small fixes in there as well)

[2017-01-17 15:34] MarkPieszak commented on #43
Just removed the dist/vendor file in the _Layout page in Views, can you give that a shot and see if it fixes it? Just let me know or open it back up if something is still broken! Thanks again @AbrarJahin

[2017-01-17 15:56] Moalpima commented on #44
I changed it but still got following error:

An unhandled exception occurred while processing the request.

Exception: Call to Node module failed with error: Error: Webpack compilation reported errors. Compiler output follows: Hash: ed1cadf089d8ea299d97
Version: webpack 2.1.0-beta.25
Time: 4516ms
Asset Size Chunks Chunk Names
0.webpack-output.js 3.75 kB 0 [emitted]
webpack-output.js 81.6 kB 1 [emi

[2017-01-17 16:35] MarkPieszak commented on #44
Let me try adding `angular2-tree-component` and see if I can get it working.

[2017-01-18 06:23] AbrarJahin commented on #43
It is partially solved.

As far as I know in current development, CDN is better, but if we need to use multiple CSS library, then using CDN is not a good way because it creates so many requests.

So, combining and compressing all CSS files and make only 1 file is a better solution which is done by webpack (gives vendor.css file).

So, I think, we should have solved the webpack issue to make it a g

[2017-01-18 13:34] MarkPieszak commented on #43
Re-opened it, you're right! For now I was just swamped so I took the easy way out, but you're correct we should let webpack handle everything instead of CDNs.

[2017-01-18 16:02] nigul2009 opened #45 "Some examples of Unit Testing would be necessary."
Hi,

Maybe it's something I'm doing wrong with my tests, but when I run "karma" I get errors with the use of JavaScript ES6 +: let.

Log of some errors:

1. JavaScript ES6 +: let

[code]

2. When mock Http
[code]

Also, It will help an example of unit test for "rest-test.component" and some edit form.

If the component has depencies with some service, http, rxjs and use mocks, it will be perfect.

[2017-01-18 16:14] MarkPieszak commented on #45
You're right some real-life unit test examples would be great, it's on my timeline, but if anyone wants to beat me too it, PRs are always welcome ! :)

Karma runs the tests in the browser, so it looks like we need to make sure the correct *polyfills* are there as well (since it doesn't know what let/const etc are).  Making a note of everything.

Thanks for giving great feedback on everything! @nig

[2017-01-18 16:44] Moalpima commented on #44
Hi Mark,

first thank you for your help. Have you found out anything yet? Let me know, if you need any further information.

[2017-01-18 21:58] MarkPieszak commented on #44
Apologies was swamped today, let me give it a shot either tonight or right in the morning and I'll get back to you! @Moalpima

[2017-01-19 06:07] AbrarJahin commented on #43
Thanks for your help.

:+1:

And also, there is a way of combining all css and js together for angular2 and webpack.
In current webpack config, CSS are injected to HTML.

But I think, applying that will be a good approach so that page content got minimised and only 1 load for js is needed :).

So, page will be more performant :1st_place_medal:

[2017-01-19 16:09] MarkPieszak commented on #43
Definitely, anything we can do to make everything more performant is :100: :+1:

[2017-01-19 16:14] AbrarJahin commented on #43
Thanks for your understanding and help 👍

[2017-01-19 18:13] #43 closed

[2017-01-19 18:14] MarkPieszak commented on #43
We're all set now, just added the dist/vendor.css file back in: 5321795.
:100: Thanks again!

[2017-01-19 22:45] MarkPieszak commented on #44
Did you try removing es6 from lib and keeping core-js types?

https://github.com/DefinitelyTyped/DefinitelyTyped/issues/11700
Was just looking at others having a similar problem ^

[2017-01-20 08:49] nigul2009 commented on #45
Thank to you @MarkPieszak.

[2017-01-20 09:56] riv1 opened #47 "reflect-metadata shim is required when using class decorators"
Hi there,

I get the exception below when I try running the application (VS2015 update 3). Tried importing es6-shim package, but the error persists.

`System.Exception: Call to Node module failed with error: reflect-metadata shim is required when using class decorators
   at Microsoft.AspNetCore.NodeServices.HostingModels.HttpNodeInstance.<InvokeExportAsync>d__7 1.MoveNext()
--- End of stack trace

[2017-01-21 02:23] MarkPieszak commented on #44
So I emptied node_modules, `npm i --save angular2-tree-component` and added it to the webpack.vendor array (at the bottom), and re-ran `npm run postinstall` (it just re-runs the webpack vendor bundle) and tried running, and it didn't have any problems.

Do I need to try to use it for that error to be triggered?

When is that coming up for you? Try it with the latest repo and let me know if it stil

[2017-01-21 02:25] MarkPieszak commented on #47
This happened with the latest repo with no changes done to it, or was there anything added specifically?
Let me know if you have a fork/repo I can look at on here as well to try and pinpoint it.

I just did a fresh pull-down of the repo and wasn't able to reproduce it :(

[2017-01-21 02:40] MarkPieszak commented on #44
So I got rid of the duplicate identifiers by adding `core-js` to the `types` section of the tsconfig, and changing lib to `"lib": [ "es5", "dom" ],`

But it looks like now it's coming up with errors since it hasn't been designed to be ran w/ Universal.

So the library itself is doing things

Can you also try logging a bug with the angular2-tree-component library and see if they can help guide us w

[2017-01-22 19:56] AbrarJahin opened #48 "[feature] Request to add CSRF token protection in AJAX calls"
I think, CSRF token protection is better than using a plain AJAX request.

It is a config and should be configured with this template, because it should be a default configuration.
More can be found here-

https://timdows.com/projects/preventing-csrf-in-asp-net-core-combined-with-angularjs/

I am requesting you to have a look at this link and let me know if this is a good idea or not :)

[2017-01-22 19:59] AbrarJahin commented on #47
I think this issue should be closed because I am also not finding this issue.

@riv1 , please clone the repo in a new location and try to run again and test if you find the error.

Even then you are finding the error, please remove your node and clear all node cache and install the node again and then clone the repo again and try if the error is showing or not.

Should be solved if you use this pr

[2017-01-22 20:04] AbrarJahin commented on #48
And also adding an example to pass data with rxjs AJAX will be more helpful 👍 if possible :)

[2017-01-22 20:09] MarkPieszak commented on #47
Do you have Node 4+ as well? You want to make sure npm is 3+ (that's very important, might be causing this)

[2017-01-22 20:09] #47 closed

[2017-01-22 20:45] MarkPieszak commented on #48
Great idea!

Yes I think it would be nice to have the Login be a POST (even if fake login), and get the xsrf token setup on the .NET side. Angular sends it by default, but the backend needs to set it up for it to work.

[2017-01-22 21:05] riv1 commented on #47
Hi all,
Thanks for the feedback. I am running Node4+, I'll try the recommendations mentioned above.

[2017-01-23 02:13] AbrarJahin commented on #48
Sure, thanks.

Currently, I am working on adding SignalR.

If it is added, then I will work on this.

Thanks 👍

[2017-01-23 10:46] AbrarJahin opened #49 "[feature] Request to add REST API example with Entity Framework"
I like to add a simple CRUD REST API with Entity framework in this template.

I like to use SQLite as DB because it is portable and no configuration issue is needed to be faced.

Add after doing that, I like to make a PR.

Will you appreciate to add a REST API with entity framework here and merge that?

Thanks

[2017-01-23 15:13] MarkPieszak commented on #49
Hey @AbrarJahin I'm sure a relatively simple example would be nice, we could even use it for the Login etc. Might get others going in the right direction!

[2017-01-23 15:15] AbrarJahin commented on #49
Sure, thanks 🥇

[2017-01-23 19:26] #45 closed

[2017-01-23 19:30] MarkPieszak commented on #45
Fixed it up, updated the webpack.test file, basically it was `exclude: [/\.(spec|e2e)\.ts$/])` that was causing it not to transpile TS files, that was my mistake!

Added an example Home test to test everything out and looks like it's working now.

Now I just need to take the time to re-organize & clean up all these configs!

[2017-01-23 19:36] vip32 opened #50 "main.js not available"
what can be the cause if main.js  is not available in .\dist?
keep getting 404's on that important file. dotnet ran fine.

[2017-01-23 19:48] vip32 commented on #50
never mind, forgot to run webpack

[2017-01-23 19:48] #50 closed

[2017-01-23 20:02] MarkPieszak commented on #50
Glad you figured it out! Let me know if there's any other issues you run into.

[2017-01-23 20:18] #34 closed

[2017-01-23 20:18] #35 closed

[2017-01-23 20:21] MarkPieszak commented on #44
I'll close this out for now as we have the issue with the library creator to look out for changes!

One thing you could do if it's very important for you at the moment is disabling Universal (by removing that asp-prerender-module tag from the Views/index.cshtml page. That way you can at least use it any other non-Universal component for a while until things get cleared up.

Sorry I couldn't be of

[2017-01-23 20:21] #44 closed

[2017-01-24 00:03] #32 closed

[2017-01-24 06:54] AbrarJahin opened #51 "How to add new JS files in vendor"
Hi @MarkPieszak ,
I want to add new CSS and JS files in vendor.js and vendor.css

As for example I want to add this - https://www.npmjs.com/package/signalr-no-jquery

As a JS for vendor.js

What do I need to do for that?

Will I need to add the new library here-
https://github.com/MarkPieszak/aspnetcore-angular2-universal/blob/master/webpack.config.vendor.js#L45

Or need to do anything else.

Than

[2017-01-24 07:07] AbrarJahin commented on #51
And also, is this 3 lines is OK-

https://github.com/MarkPieszak/aspnetcore-angular2-universal/blob/master/webpack.config.vendor.js#L46
https://github.com/MarkPieszak/aspnetcore-angular2-universal/blob/master/webpack.config.vendor.js#L47
https://github.com/MarkPieszak/aspnetcore-angular2-universal/blob/master/webpack.config.vendor.js#L48

[2017-01-24 11:57] #39 closed

[2017-01-24 12:36] MarkPieszak commented on #51
At the moment yes, but if you add them there it will be accessible by client and server code. But looks like it doesn't have jQuery so it should work!

I'll review the latest SignalR stuff soon as well, thanks again.

Eventually I might clear up that vendor webpack and just use a vendor.ts file bundle and pack it like normal.

Let me know if that clears it up!

[2017-01-24 12:45] AbrarJahin commented on #51
SignalR client side is not implemented.

So, I am implementing it.

To do that, I need to add jQuery with Angular2.

I am a little kind of stuck here.

Can u please help to add jQuery here?

Providing procedure or link would be enough.

Thanks

[2017-01-24 13:02] MarkPieszak commented on #51
Sure let me take a look, is that the piece missing for the SignalR implementation?

[2017-01-24 13:09] AbrarJahin commented on #51
Yes.

But before that, please resolve the PR, because I have made an experiment and it failed, so need to fix that.

That is why I have made the PR.

Thanks

[2017-01-24 16:02] nigul2009 commented on #45
**Excellent News!!!**
I saw it very strange that spec files were excluded.
Thank you very much @MarkPieszak.

[2017-01-24 22:25] vip32 opened #54 "[bug] sln cannot be opened in vs2017RC (xproj)"
after the suggested upgrading this is shown:

Angular2Spa.xproj: Failed to migrate XProj project Angular2Spa. 'dotnet migrate --skip-backup -s -p "C:\Dropbox\projects\_github\aspnetcore-angular2-universal" -x "C:\Dropbox\projects\_github\aspnetcore-angular2-universal\Angular2Spa.xproj"' exited with error code 1.
Angular2Spa.xproj: No executable found matching command "dotnet-migrate"

also the pro

[2017-01-24 23:19] MarkPieszak commented on #54
Unfortunately the aspnet migrate tool has some issues and doesn't work just yet, I can't find the issue on github at the moment. I've ran into the same problem with any project I've tried upgrading.

I thought it might be best to wait before having the project ready for vs2017 since it hasn't been officially released just yet.
I'll try and post the necessary files needed for it to open in 2017 in

[2017-01-25 14:15] AnderssonPeter commented on #28
the following could be used https://github.com/kexplo/electron-edge

[2017-01-25 15:14] AbrarJahin commented on #49
PR made-

https://github.com/MarkPieszak/aspnetcore-angular2-universal/pull/55

[2017-01-25 16:03] #49 closed

[2017-01-25 23:20] CDuane commented on #32
Hi, the title doesn't seem to be changing when switching pages from the nav menu. I tested on the latest commit (93d54b2647879380960f77c15d9725b64cf86d5a).

I am saying this because I thought this was fixed, or did I think wrongly?
Thanks.

[2017-01-25 23:50] MarkPieszak commented on #32
Do you have JS disabled?
Or is it happening client-side when normally going around the App in the browser?

Only ask about JS being disabled because the server changing the Title isn't working just yet, but hopefully very soon! Working with Steve to see if the Prerender tag can somehow pass things to a ViewData so we can set Title/meta that way (since we made .NET have all the control over the <HT

[2017-01-26 05:19] AbrarJahin commented on #32
I am finding this feature working :)

No problem with this 🥇

[2017-01-26 14:49] johnkattenhorn opened #56 "Deploying template based app to Service Fabric"
Debugging and Running the template locally works great on my local machine, however when I deploy the same app into a Service Fabric cluster is fails with the following error

`Exception: Call to Node module failed with error: If you use aspnet-prerendering >= 2.0.0, you must update your server-side boot module to call createServerRenderer. Either update your boot module code, or revert to aspnet-

[2017-01-26 15:06] johnkattenhorn commented on #56
If I disable the Server Side rendering then it works well both inside and outside SF. I'm going to see if I can monitor the file system and look for files it asks for but cannot find.

[2017-01-26 15:17] MarkPieszak commented on #56
Is it setup to be using Node 4+? Wondering if that might be playing a part in this as well.

Interesting the app works otherwise though, since that is a dependency and it seems like everything else installed. Let me know! Looking into it on my end as well.

[2017-01-26 15:43] johnkattenhorn commented on #56
Ah good, question, I'm going to sound dumb now but to use SSR I would need to the SF cluster machines to have Node installed right ?

This might not be an option for us.

[2017-01-26 15:51] MarkPieszak commented on #56
Not dumb at all! Yes so what it does is creates a small node process to run Universal (which ends up serializing the app).

I believe it's possible on SF isn't it?

At worst case for now, you can simply disable SSR for now, I'll see if I can get some more information on this issue.

[2017-01-26 15:56] johnkattenhorn commented on #56
Oh yes, I forgot about this capability, thanks for pointing this out and being so responsive :-)

We are early days in this project so I'll disable for now and move this into the backlog.

Loving the template, looking forward to showing some of my web developers some of the pain this removes for us.

[2017-01-26 15:56] #56 closed

[2017-01-26 15:56] MarkPieszak commented on #56
@johnkattenhorn Did you update the `aspnet-prerendering` by any chance in your package.json? What version do you have in there?

[2017-01-26 15:59] johnkattenhorn commented on #56
I didn't as I was trying to be careful about mimicking exactly the same versions from the repo. My npm reports 1.0.7.

[2017-01-26 16:00] johnkattenhorn commented on #56
I'm lucky it's didn't work on my developer workstation as I have node installed otherwise I would have pushed the code and would have failed inside the cluster right now :-)

[2017-01-26 16:01] MarkPieszak commented on #56
Strange!  That error comes from the 2.x *warning*, but the repo is still calling the 1.x signature. Not sure how that error is appearing. Interesting

[2017-01-26 16:25] johnkattenhorn commented on #56
![image](https://cloud.githubusercontent.com/assets/616249/22340022/e6540556-e3e3-11e6-8921-dd89186e61f3.png)

What's a good way to double check I've not made a mistake ?

[2017-01-26 22:40] MarkPieszak opened #57 "[feature] Pass title & meta tags data from app to ViewData to generate SEO tags"
This is needed because .NET has *control* over the `<html> / <title>`.

---

This would be a 2 step process:

**1)** Collect Title & Meta tag data from Route data{} if available, and pass down to bootstrap-server (worst-case scenario scrape resulting serialized html to collect it).
*[ Partially finished ]*

**2)** Manually call Prerenderer through the Controller, generating the Html & Globals (Tit

[2017-01-27 10:47] CDuane commented on #32
My JS is enabled and it is happening client-side when normally going around the app in the browser.
I pulled down a fresh copy, I used NodeJS 6.9.4 and .NET Core 1.1.
I expect the title in the browser tab to change, but it does not.
I even tried it on another computer.
I am new to this so I might be doing something wrong.
Thanks.

[2017-01-27 21:02] #48 closed

[2017-01-28 03:12] AbrarJahin commented on #49
Thanks 👍

[2017-01-28 03:41] AbrarJahin opened #58 "Create a template pack for Visual Studio"
Hi @MarkPieszak,
I think creating a template pack would be a better option for reaching people in an easy way.

There is already one template pack like this-

https://marketplace.visualstudio.com/items?itemName=MadsKristensen.ASPNETCoreTemplatePack

In the template pack, we can put a multiple version of this project like-

 1. Only ASP.Net Core and Angular2
 2. ASP.Net Core and Angular2 with REST

[2017-01-28 03:47] AbrarJahin opened #59 "Ceate a real auth in the template"
Hi, in the system, no authentication system is created, the current auth is a demo auth, no service is there for this.

Previously we don't have DB access, but now we have DB and a user table.

So, we can easily write a service for register and log in (as small as possible, maybe with only name) into our system.

All authentication and logins should be done with Angular service and authentication

[2017-01-28 03:52] AbrarJahin opened #60 "Create a Entry showcase with Angular Service"
Hi, in the current system, there is showing a REST page which is showing random data.

We can replace that with a real data showing a page with CRUD option in 1 page for users so the data can be added to pop up and can be shown on the page.

Now we have REST API, a database and CSRF protection.

So, I think this kind of showcase should be added in replace of current REST page.

[2017-01-28 04:36] AbrarJahin opened #61 "Bootstrap Collapsible nav bar"
In the current system, nav bar is not collapsible and the page is not responsive.

I think, if we can use this kind of nav bar in our system, that would be nice-

https://getbootstrap.com/examples/navbar-fixed-top/

What do u suggest @MarkPieszak ?

[2017-01-28 08:04] johnkattenhorn opened #63 "Application Insights client-side implementation"
Does anyone have any guidance or advice for implementing Application Insights on the client-side, I asked this question here https://github.com/aspnet/JavaScriptServices/issues/565 but I can't even make the basics work, it's down to my experience with Angular 2 I think.

I'm really after the browser, user agent, page tracking telemetry that you get with MVC etc.

I'm working on it so if I turn out

[2017-01-28 08:43] AbrarJahin commented on #63
As far as I know, it is already working in this project and it is already configured.

This feature is working for server side code.

And Angular2 is working in client side.
It needs only some REST API to communicate with the server.

So, for those API calls, you will get `Application Insights`.

I hope you have your answer @johnkattenhorn

[2017-01-28 08:48] AbrarJahin commented on #63
Please have a look in here-

https://docs.microsoft.com/en-us/azure/application-insights/app-insights-asp-net

You can find insight option for REST API here.

[2017-01-28 09:00] johnkattenhorn commented on #63
Sorry I didn't make myself very clear, I want to use Application Insights client side Angular 2. It seems the library in the documentation refers too is still Angular 1. I'll see if I can convert it easily enough.

[2017-01-28 09:51] AbrarJahin commented on #63
Sorry for the interruption.

Can u please share the code you are referring to, please?

I am sorry for not finding or understanding the place or code you are referring to @johnkattenhorn

[2017-01-28 09:52] johnkattenhorn commented on #63
It's currently not implemented client-side in the template, only server side. I was just asking if there was anyone who had already implemented this so that we had appinsights both server side and client side.

[2017-01-28 15:30] AbrarJahin commented on #63
As far as I know there is no such thing available for client side with angular.

If anything available in your knowledge, please share the link please so that we can integrate that.

Thanks @johnkattenhorn

[2017-01-28 16:42] MarkPieszak commented on #63
Looking at the Application Insights example from Angular1.x, it looks like you need to do a few things, but we might be able to make it work.

Add the MS insights code onto the _layout.cshtml page

[code]

Now we need a basic InsightService:

[code]

Now add it to your `app.common.module` (so it's both in server&client automatically, but we're just ignoring the server rendered app build with isBro

[2017-01-28 16:44] MarkPieszak commented on #61
Sounds like a great idea to me! I've been meaning to fix some of the smaller css/design things!

[2017-01-28 16:44] MarkPieszak commented on #60
Definitely, I'll add something in there to replace it!

[2017-01-28 17:05] AbrarJahin commented on #60
Thanks @MarkPieszak 👍

[2017-01-28 17:16] MarkPieszak commented on #58
I love the idea! But with upcoming things we are adding and the overall universal API change that will be coming wi ng4 I'm wondering if it's better to wait? Or should it be up there once a few other additions are made.

How easy is it to update a .NET template ?

[2017-01-28 17:25] AbrarJahin commented on #58
Frankly speaking, I have no idea.

I will let you know by checking.

Thanks

[2017-01-28 18:42] MarkPieszak commented on #63
I'll be working on making an Ng-library here:
https://github.com/MarkPieszak/angular-application-insights
so it can just be `npm install`'d and added to your root NgModule that way.

[2017-01-28 18:45] johnkattenhorn commented on #63
That's awesome @MarkPieszak thanks! Feel bad now, given you more stuff to do :-)

I'd gladly test, give feedback whilst I get up to speed with Angular 2.

[2017-01-28 19:23] MarkPieszak commented on #63
@johnkattenhorn Not a problem, it's all in good fun 👍

I'll definitely need help testing to make sure it works! I just updated the repo with extremely basic stuff, still nothing on `npm` but hopefully soon I'll have something you can mess around with and see if it works. It'll be easy to contribute to it as well (as it's really just a Service) so if something is off you'll be able to tweak it and

[2017-01-29 16:03] #40 closed

[2017-01-29 18:01] MarkPieszak commented on #40
Managed to spend the time to get it working 🙈🎁

[2017-01-30 13:51] ImkerAdam commented on #40
First day on this, but I think there are still some dep errors with 2.4.5,
with` npm install` I got dep errors.

npm WARN @angular/http@2.4.5 requires a peer of rxjs@^5.0.1 but none was installed.
npm WARN @angular/router@3.4.5 requires a peer of rxjs@^5.0.1 but none was installed. npm WARN @angular/core@2.4.5 requires a peer of rxjs@^5.0.1 but none was installed.
npm WARN @angular/core@2.4.5 requ

[2017-01-30 14:08] MarkPieszak commented on #40
@ImkerAdam Not to worry! npm Warnings come from sub node_modules, as long as you're not getting npm ERROR it's fine. It's just pointing out some inconsistencies between libraries, and peer Deps they might have etc.

For example codelyzer has this as it's peerDeps, although it still works with 2.4.5.

[code]

Thank you for reminding me though, I have been meaning to upgrade Zone.js & Rxjs dependenc

[2017-01-30 15:08] MarkPieszak commented on #56
That looks fine there!
Hmm

Also someone told me this about SF & Node: "when we had a node service on SF, we simply embedded the node.exe." I'm not sure if that helps you any? I'm not familiar with SF unfortunately, haven't gotten around to using/experimenting with it yet.

[2017-01-30 17:45] johnkattenhorn commented on #56
I think embedding would be the best way going forward. I've added an item to our backlog but server-side rendering is not high on our project list right now (it will be though for something else).

[2017-01-30 17:46] johnkattenhorn commented on #63
FYI, one of our dev's is actively working on this https://github.com/MarkPieszak/angular-application-insights and we will report back there the work we are doing.

[2017-01-30 17:46] #63 closed

[2017-01-30 18:12] MarkPieszak commented on #63
Oh great! Working on that repo itself? Let me know what you guys need.

[2017-01-30 19:40] johnkattenhorn commented on #63
Yep, we will split at the work from our project and PR into the new repo once we have it working, making progress today on page tracking.

[2017-01-30 20:51] AbrarJahin commented on #61
Working on this issue.

From this answer-

http://stackoverflow.com/questions/37438683/is-there-a-way-to-build-the-mobile-nav-bar-in-ng2-bootsrap

Will make a PR ASAP

[2017-01-30 22:21] Ketrex opened #64 "tslint fails"
When running `npm run lint` the command fails due to several code rule violations:

`Client/app/index.ts[23, 52]: file should end with a newline
Client/containers/chat/chat.component.ts[9, 1]: misplaced opening brace
Client/containers/chat/chat.component.ts[18, 5]: misplaced opening brace
Client/containers/not-found/not-found.component.ts[5, 15]: The selector of the component "NotFoundComponent" s

[2017-01-30 22:25] MarkPieszak commented on #64
Sure PR's are more than welcome!
Must of missed that one 👍

[2017-01-30 22:28] MarkPieszak opened #65 "Webpack re-organization, performance & bundle size optimizations"
## WIP

- [x] Updating webpack to separate out client & server bundles
- [x] Minimize bundle size
- [x] Update to latest version of aspnet-prerenderer

[2017-01-30 23:19] #64 closed

[2017-01-31 00:19] MarkPieszak opened #67 "Fix Azure deployment build"
Closed via https://github.com/MarkPieszak/aspnetcore-angular2-universal/commit/5d7c367066bc55b4ab37b82f9335c8be15059fb6

[2017-01-31 08:58] consigliory opened #68 "meta tags is created inside of body instead of head"
[code]
this will result with meta tags inside of body.
Am I doing anything wrong here?

[2017-01-31 19:01] MarkPieszak commented on #68
@consigliory So the problem is, because .NET has total control over the Html, all we have access to is the `<app>` itself unfortunately. The MetaService works if you're using Node solely as your server, as you pass the entire index.html file, but sadly in our case it doesn't :(

If you take a look at #57 the fix is in the works though :)
But basically, eventually all of these meta & title things w

[2017-01-31 20:27] ORuban opened #69 "Server-side rendering causes server-side error if run app from dotnet publish output"
How to reproduce:

1. fork master branch
2. go to root folder and run `dotnet publish`
3. go to publishing output folder and run `dotnet aspnetcore-angular2-universal.dll`
4. open home page
Error: An error occurred while processing your request and in logs:
`An unhandled exception has occurred: Call to Node module failed with error: Prerendering failed because of error: Error: Cannot find module '

[2017-01-31 20:36] MarkPieszak commented on #69
Is aspnet-prerendering there in `node_modules`?

[2017-01-31 21:37] ORuban commented on #69
prepublish script command in project.json already has webpack step and accordingly to logs it runs OK.
node_modules (with aspnet-prerendering) exists in source folder, but not in publish "output" folder.

[2017-02-01 00:59] Ketrex opened #70 "e2e fails due to selenium dependency"
Specifying the selenium type definitions in dev dependencies causes e2e testing to fail. Protractor > 4.0.9 comes with it's own type definition for selenium and this dependency should not be necessary.
Solution referenced here: https://github.com/angular/protractor/issues/3663

[2017-02-01 01:14] MarkPieszak commented on #69
I see what the issue is and it'll be fixed in #65, I need to make sure only the server bundle is given aspnet-prerender (I can't just throw it in the vendor array, client-side can't use it, it's based on Node modules).

Let me fix that one up tomorrow and I'll let you know when it's all set! @ORuban Thanks for helping out :)

[2017-02-01 01:16] #70 closed

[2017-02-01 13:28] ImkerAdam opened #72 "Webpack compilation reported errors on running project"
- cloned the repo
- nuget/dotnet restore
- npm install
- starting the project inside Visual Studio 2015.

Got this in the browser:

Thanks.

[2017-02-01 13:31] MarkPieszak commented on #72
Looking at this right now, might have something to do with the PR https://github.com/MarkPieszak/aspnetcore-angular2-universal/pull/71.

One sec let me check!

[2017-02-01 13:35] ImkerAdam commented on #72
@MarkPieszak I can not belive your speed, so glad I chose this template!

Greetings from Switzerland.

[2017-02-01 13:39] MarkPieszak commented on #72
Glad to hear it ! 🎉
Just trying to get everything more stable :)

As for the bug, yup that was it! I'm checking in the fix now, but you can just go to your `tsconfig.json` and remove the protractor string in the Array. That should do it!

    "types": [
      "hammerjs",
      "jasmine",
      "node",
      "protractor", // <-- remove this line
      "source-map",
      "selenium-webdriver",

[2017-02-01 13:40] #72 closed

[2017-02-01 13:41] #68 closed

[2017-02-01 13:41] ImkerAdam commented on #72
This worked! Thanks.

[2017-02-01 14:20] MarkPieszak commented on #32
Are you still seeing this issue with the Latest? @CDuane
What browser are you using by the way?

[2017-02-01 21:51] #51 closed

[2017-02-02 03:29] #69 closed

[2017-02-02 03:29] #67 closed

[2017-02-02 14:01] CDuane commented on #32
I've got an error now, let me first tell you what I did.

1. Cloned the repo
2. cd into the directory
3. npm install
4. dotnet restore
5. dotnet run

When I visit localhost:5000, it crashes with this error
`Microsoft.AspNetCore.Diagnostics.ExceptionHandlerMiddleware[0]
      An unhandled exception has occurred: Call to Node module failed with error: Prerendering failed because of error: Error: Can

[2017-02-02 14:45] MarkPieszak commented on #32
@CDuane That's my fault! Apologies.

I'm pushing up the fix now, but basically to get past it, just run `npm run webpack` in the command line (from the root directory) then run your project, and you'll be all set.

I added a build step in postinstall to run both webpack:vendor & then run the regular webpack build, which will fix this for new installs :)

Thanks for pointing that one out!!

[2017-02-02 16:09] CDuane commented on #32
I'm happy to tell you that everything is working now.
The application runs, thanks to your fix, and the title changes when routing.
Thanks for your work.

[2017-02-02 16:44] MarkPieszak commented on #32
Glad to hear it :+1:
More updates to come!

[2017-02-02 21:05] AbrarJahin opened #73 "How to use jQuery with Angular2 in this project"
Hi, I want to add a chat client example in this template.

For that, I need to make a demo of **signalR** client with javascript.

For that, I need to add signalR javascript client.

For that, I need to add this 2 library to run this-

1. http://ajax.aspnetcdn.com/ajax/signalr/jquery.signalr-2.2.1.min.js
2. https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js

It can be found here-
ht

[2017-02-02 21:31] MarkPieszak commented on #73
The jQuery part and the signalr library part would be setup like in the FAQ here (https://github.com/MarkPieszak/aspnetcore-angular2-universal#how-can-i-use-jquery-andor-some-jquery-plugins-with-angular-universal).

I know they're working on a non-jquery version of the signalR client (https://github.com/aspnet/SignalR/issues/3), I'm not sure if that's part of the problem you're having?

Let me see

[2017-02-03 00:06] nalex095 opened #74 "HttpCacheService saves client's requests to cache"
As far as I understand HttpCacheService is supposed to cache requests on the server and pass them to the client. But now it saves clients requests too. So even if you auto clean up the cache on client after first read, any subsequent request on the client pushes its result to the cache. And on the next request it is being read from there.

I believe there should be a way to avoid caching on client

[2017-02-03 00:47] MarkPieszak commented on #74
Thanks for noticing that! I actually think I noticed the same thing this afternoon! IsNode would be perfect. I can fix it up unless you'd like to put in a PR for it?

[2017-02-03 11:48] nalex095 commented on #74
I will be happy to contribute a little bit. Please see #75. Thanks!

[2017-02-03 12:18] #74 closed

[2017-02-03 12:56] consigliory opened #77 "Exception: Call to Node module failed with error: ReferenceError: window is not defined"
first request works fine on on refresh throws error

Exception: Call to Node module failed with error: ReferenceError: window is not defined
at Ng2Webstorage.initStorageListener (/Users/roman_petrenko/git/source/elixir/node_modules/ng2-webstorage/bundles/core.umd.js:354:13)
at new Ng2Webstorage (/Users/roman_petrenko/git/source/elixir/node_modules/ng2-webstorage/bundles/core.umd.js:332:14)
at NgMo

[2017-02-03 14:28] MarkPieszak commented on #77
So it's a problem with that library you're using `Ng2Webstorage`. I believe that library wasn't built with webworkers/universal in mind, they're just accessing the `window` without testing to see if it's undefined first. Maybe you can create an issue with that repo so they can try and fix those issues?

On the bright side, there's actually a nice [StorageService](https://github.com/MarkPieszak/asp

[2017-02-03 14:28] #77 closed

[2017-02-03 14:48] consigliory commented on #77
Thanks a lot for advice!!!!!!!!!!! You rocks!

[2017-02-03 15:42] AbrarJahin commented on #73
Actually, I was having issue with webpack and jQuery.

I think it will be solved now :)

By the way, I have got a better library than jQuery plugin.

I am looking in this-

https://www.npmjs.com/package/@types/signalr

To add signalR

[2017-02-04 22:18] ORuban opened #78 "Typescript debugging within VSCode"
This launch configuration allows me to debug typescript code:
`        {`
`             "name": "[Development] Debug Client",`
`             "type": "chrome",`
`             "request": "launch",`
`             "url": "${auto-detect-url}",`
`             "sourceMaps": true,`
`             "userDataDir": "${workspaceRoot}/.vscode/chrome",`
`             "webRoot": "${workspaceRoot}/Client"`
`

[2017-02-04 23:10] MarkPieszak commented on #78
Is typescript debugging currently not working?

[2017-02-05 08:56] ORuban commented on #78
doesn't work for me when [Development] Launch Web is used

[2017-02-05 15:11] MarkPieszak commented on #78
Let me take a look haven't reconfigured it in a while.
Thanks for letting me know!

[2017-02-05 19:01] Ketrex opened #79 "Consider modifying solution structure"
Please consider revamping the solution structure and move the project to an `src` folder and include a `test` folder. This would align with the structure of the ASP.NET Core libraries as well as the de facto structure for most development teams. It would be great to have unit testing projects exist right alongside the current project.

As an example, here is the MVC repo from the ASP.NET Core team

[2017-02-05 19:18] MarkPieszak commented on #79
@Ketrex Thanks for the feedback!
Anything we can do to align things better would be a great idea!

Were you talking about having the solution files at the root level, and the project itself being in `~/src/` (with `/src/Client/` `/src/Server/` being inside of `src`? This all might help the project not look as daunting at first glance as well :)

As for tests for the Server-side that'd be an excell

[2017-02-05 19:26] Ketrex commented on #79
That is indeed my proposal. :)

I'll get started on a PR.

[2017-02-05 20:46] MarkPieszak commented on #79
Excellent, I'll take a look when you're all set! 💯

[2017-02-06 20:54] ORuban opened #80 "Suggest instance on Heroku as Demo example"
I have successfully deployed this starter on Heroku and you can use this link as demo example: https://aspnetcore-angular2-universal.herokuapp.com

I am using free instance, to startup time for may be slow, as Heroku use sleep mode for such type of instances.

I am using a fork, as needed to have `app.json` config in repo and updated readme for "Deploy on Heroku" button + this allows to prevent po

[2017-02-06 21:06] MarkPieszak commented on #80
Great!
Would you like to make a PR to include the app.json etc so people can try deploying to Heroku as well?

I was attempting to have an example on Azure this weekend but was running into a random issue, hoping to have that available as well.

[2017-02-06 22:25] #80 closed

[2017-02-07 06:11] AbrarJahin commented on #80
Prerender is not working in heroku.

Please have a look in here-

view-source:https://aspnetcore-angular2-universal.herokuapp.com/rest-test

[2017-02-07 20:32] MarkPieszak opened #83 "Angular 4.x integration"
### Some notes:

Approximate boot-server API will be:

[code]

Then we'll integrate it with .NET to render the Title & Meta tags in the MVC view template.

This is also connected to #10

[2017-02-07 23:00] NelsonLamprecht opened #86 "UI-Router-ng2 Question"
New to the angular 2 world:
Has anyone used universal successfully with ui-router-ng2?
Atttempting to add it in place of the built in router but I get this exception:
TypeError: this._rootRenderer.document.querySelector is not a function
at DomRenderer.selectRootElement
at selectOrCreateRenderHostElement
..

[2017-02-07 23:27] MarkPieszak commented on #86
I haven't played with the UI-Router with Universal specifically but I just spoke with the author he said he believes it should work though?

Do you have it within a fork/repo so I can try and take a look?

[2017-02-07 23:43] NelsonLamprecht commented on #86
Let me see what I can put together...
Found this as well which seems to be the same stack trace:
https://github.com/devCrossNet/universal-cli/issues/54

[2017-02-08 02:22] AbrarJahin opened #87 "vendor.css creation and file optimization is not working with webpack2"
If we uncomment this 2 line-

https://github.com/MarkPieszak/aspnetcore-angular2-universal/blob/master/src/Angular2Spa/webpack.config.vendor.js#L50-L51

Then vendor.css is created.

But we are getting an error in prerendering with **webpack2** that it is unable to create the font files

I think, we need to have a look in here @MarkPieszak .

[2017-02-08 02:44] MarkPieszak opened #88 "No ResourceLoader provided. Can't read url *.html or *.css"
angular2-template-loader issue in latest release

[2017-02-08 02:46] #88 closed

[2017-02-08 05:05] daveo1001 opened #89 "start:dashboard not serving"
fresh clone.
npm install && dotnet restore - no errors.
npm run start:dashboard - no errors.

Project is running at http://localhost:8080/
webpack output is served from /dist/
webpack webpacks without errors.

http://localhost:8080/ can't be found.

the /dist/ folder contains the following:
0.js
0.js.map
main-client.js
main-client.js.map
vendor.css
vendor.js
vendor-manifest.json

this seems... lac

[2017-02-08 06:12] AbrarJahin opened #90 "Chat example with SignalR"
We can use this-

 https://www.npmjs.com/package/ng2-signalr

For integrating signalR with angular2

[2017-02-08 07:51] EmaGht commented on #89
Might be wrong but this project is based on ASP.NET MVC so you NEED ASP.NET to take care of your Index.cshtml which can be done only by starting it with dotnet. If you start it with npm it shouldn't work

[2017-02-08 12:19] MarkPieszak commented on #89
@daveo1001 That may be my fault, the dashboard was working a bit ago, but there have been some underlying build changes I might of forgotten to check/test that functionality! Thanks for letting me know I'll look into it right now.

As for Launching, yes IIS. So basically it's bare-bones MVC as Ema was saying. This allows us to serialize the Angular application on the server, since we're able to in

[2017-02-08 12:24] MarkPieszak commented on #90
100% Typescript don't see jQuery in that package.json perfect!

[2017-02-08 12:54] MarkPieszak commented on #73
Since we'll hopefully be able to add SignalR with that other project, i think we can close this one out.

I'll try and add some more details (https://github.com/MarkPieszak/aspnetcore-angular2-universal#how-can-i-use-jquery-andor-some-jquery-plugins-with-angular-universal) there just in case for people as well.

[2017-02-08 12:54] #73 closed

[2017-02-08 13:43] AbrarJahin commented on #73
Sure, that will be great :)

[2017-02-08 14:45] daveo1001 commented on #89
@EmaGht @MarkPieszak Thanks folks! Makes sense!

[2017-02-08 15:01] MarkPieszak commented on #78
I tried the configuration above (ran `dotnet run` in a separate cmd window), but it gave me:

Was there anything else that needed to be setup?

---

The other option is debugging within Chrome devtools:

![image](https://cloud.githubusercontent.com/assets/2574412/22742003/3b78dd1e-ede3-11e6-9095-71ed14852672.png)

Doing a `Ctrl-P` (or `Command-P` for MAC) has the file navigator pop-up, so you can

[2017-02-08 15:34] MarkPieszak commented on #89
We're all set, you can see the updates in commit https://github.com/MarkPieszak/aspnetcore-angular2-universal/commit/a81495821c37b5451485a02a00d46ffac0f2a94a or can get latest to see that it works now :)

![image](https://cloud.githubusercontent.com/assets/2574412/22744066/38baba28-edea-11e6-84eb-c94835ac8574.png)

[2017-02-08 15:40] btmadison opened #92 "bootstrap 4 customization requires scss"
Loading of Bootstrap 4 is hardcoded to the css cdn in _Layout.cshtml.  Is there a way to instead use the scss from node modules and elsewhere provide a _custom.scss file to provide default overrides to allow re-theme of colors and other options.

[2017-02-08 15:41] ORuban commented on #78
what if you specify url directly here:` "url": "${auto-detect-url}",` ?

[2017-02-08 16:06] btmadison opened #93 "npm test results in ForkCheckerPlugin error - remove construction from webpack test config"
when running npm test, the following error results:

commenting out line 124 in webpack.config.test.js as follows:
`// new ForkCheckerPlugin(),`
allows the single sample test to pass.

The ForkCheckerPlugin has been removed from the awesome-typescript-loader, and as mentioned in the following, can be removed with latest version.

https://github.com/s-panferov/awesome-typescript-loader/issues/274

[2017-02-08 16:14] MarkPieszak commented on #93
Oh great, thanks for noticing that! There were recently build changes, I was actually just about to check Testing :)

Did you want to make a PR, if not I can make the fix.

👍

[2017-02-08 16:20] MarkPieszak commented on #92
Definitely!
Right now we just have it setup to at least apply the styles, there were some issues with webpack2 with bootstrap & fontawesome that I was looking into. (Related #84)
Ideally we definitely want it to be completely configurable like that!

There are a few options when it comes to setting it up (one being: https://github.com/shakacode/bootstrap-loader)

[2017-02-08 16:36] btmadison commented on #93
@MarkPieszak I will do a PR for it but it may be a few hours

[2017-02-08 17:19] Krishna-teja opened #94 "Adding support for angular-cli"
Hi mark. First of all, this is an awesome template. Thanks for taking care of all the grunt work. My question is do you plan on adding any support for angular-cli in future?

Thanks!

[2017-02-08 17:50] Ketrex opened #95 "npm webpack hangs due to dashboard plugin"
I just pulled commit `a814958` and when I run npm install it hangs while running the post install `webpack --progress` command. Removing the recent addition of the Dashboard plugin in the webpack.config fixes the problem. I tried this on two different computers and both hang.

[2017-02-08 17:58] daveo1001 commented on #95
We just can't win, @MarkPieszak.

[2017-02-08 19:12] AbrarJahin commented on #95
I think it is not an issue.

What do u think @MarkPieszak ?

[2017-02-08 19:15] MarkPieszak commented on #95
Crap, you're totally right... Might be why it was removed initially I need to fix it by passing some flags so that the plugin only gets initialized when running the dashboard npm script.

[2017-02-08 20:43] #95 closed

[2017-02-08 20:45] MarkPieszak commented on #95
So it's fixed for hanging the `npm i` but there's still an underlying issue with dashboard :(

I'll re-open that issue so we can figure out the fix for it.

https://github.com/FormidableLabs/webpack-dashboard/issues/96

[2017-02-08 20:45] MarkPieszak commented on #89
Had to temporarily shut off the dashboard to fix the npm install from hanging, so i'll re-open this until I can get them both to play well together.

Related dashboard issue:
https://github.com/FormidableLabs/webpack-dashboard/issues/96

[2017-02-08 20:46] btmadison commented on #93
I have created a pull request for this issue - https://github.com/MarkPieszak/aspnetcore-angular2-universal/pull/96

[2017-02-08 21:14] #93 closed

[2017-02-09 00:06] MarkPieszak commented on #94
Thank you! Let me get back to you tomorrow with more details. But basically through .NET & npm scripts we have most of the power of the CLI (without the generators).

[2017-02-09 00:12] NelsonLamprecht commented on #86
I forked your solution and tried to introduce ui-router-ng2 but now I am getting something different so its obvious I am missing something. Any help would be appreciated...

[2017-02-09 00:12] NelsonLamprecht commented on #86
https://github.com/TalaveraTechnologySolutions/aspnetcore-angular2-universal

[2017-02-09 03:45] AbrarJahin commented on #94
I think we can create a generator try Yeomen-

http://yeoman.io/generators/

So that people can easily access and install this template with this popular generator and people can easily find this project.

[2017-02-09 04:04] AbrarJahin opened #97 "Deployment in Heroku App - app.json's project is not a valid Heroku application"
Hi, I am new in using Heroku App.

I am not sure if I have done any wrong.

My work procedure is-

1. Go to here- https://dashboard.heroku.com/new?template=https://github.com/MarkPieszak/aspnetcore-angular2-universal.git

2. Then click on _Deploy_

![image](https://cloud.githubusercontent.com/assets/4152843/22768811/a87b0dee-eeae-11e6-8abb-73864a5d47e8.png)

Then getting this error-

`app.json's p

[2017-02-09 04:22] AbrarJahin commented on #97
Hi, if I try to build a production environment, then I am finding this-

https://devcenter.heroku.com/articles/nodejs-support#specifying-a-node-js-version

Can u please have a look in it @MarkPieszak

[2017-02-09 08:00] AbrarJahin opened #98 "Make a common route file to add route easily in the project"
In current configuration, if we need to add a route in the project, we need to do this thing-

1. Create a folder in `Client\Containers\`
2. Create a component in the folder
3. Add the container in the `Client\Containers\index.ts` (this is the "barrels" file for all containers)
4. Add the container in the `\Client\app\platform-modules\app.common.module.ts`
5. Add the container in the `\Client\app\

[2017-02-09 09:37] ORuban commented on #97
I will take a look, could reproduce with the current `master `branch as well.
@AbrarJahin if not specify the node version then the last version is used. See logs:

[2017-02-09 12:51] AbrarJahin commented on #97
Sure, thanks @ORuban

[2017-02-09 14:52] MarkPieszak commented on #97
That Node version looks fine but something must of changed in the past 21 commits. One major thing that changed was the way webpack was setup (and the splitting of client/server bundles). I'm having trouble with Azure deploying currently as well, they must be coming from the same problem. Let me see if I can fix that, and hopefully it'll take care of both 👍  Sorry about that guys!

[2017-02-09 15:11] AbrarJahin commented on #97
NP.

Thanks @MarkPieszak

[2017-02-09 17:25] MarkPieszak commented on #78
Didn't work when I did localhost:5000 there either.

[2017-02-09 19:36] riiight commented on #97
Just chiming in to state that I am also experiencing errors with an Azure deployment.

Commenting to be notified.

[2017-02-09 20:09] ORuban commented on #78
I have checked and found a little mess. The following are the results (current `master` + latest VSCode (osx) + latest `Debugger for Chrome`):

0. Debugging within Chrome devtools works like a sharm. So double thanks!)
1. Breakpoints in typescript files are not enabled if use `[Development] Launch Web` configuration .
2. Default VSCode instance raises `Debug adapter process has terminated unexpect

[2017-02-09 23:30] MarkPieszak opened #99 "Fix deploy to Azure issues"
After deploying Error (with no information) appears on Azure.

Possibly related: #97

[2017-02-09 23:39] #99 closed

[2017-02-09 23:45] #14 closed

[2017-02-09 23:45] #65 closed

[2017-02-09 23:47] MarkPieszak commented on #97
If you guys want to get latest and give it a shot, it should work now!
Tested with Azure and able to deploy there successfully now :) @riiight
https://github.com/MarkPieszak/aspnetcore-angular2-universal/commit/bb7e2da5b96040acdfbfa4052547b4a22f0e173c

http://aspnetcore-angular2-universal.azurewebsites.net/

If it's still not working let me know we can re-open!

[2017-02-09 23:48] MarkPieszak commented on #98
We could potentially put the Routes themselves **inside** of `app.routes.ts`, which slightly junks it up, but then again it'd be one less file & import (to do again).

Does anyone have any thoughts on this? @Ketrex @ORuban

[2017-02-10 00:00] MarkPieszak commented on #17
Closing for #79

[2017-02-10 00:00] #17 closed

[2017-02-10 00:29] #98 closed

[2017-02-10 00:30] MarkPieszak commented on #98
Thought about it and I think you're right!
I also renamed & moved the `app.common.module` file to the general `/app/` directory, so it's next to `app.component` etc.

I removed app.routes and simply put them inside that main `app.module.ts` file, so when you add new components, it's just much easier and you can make the necessary changes right in there!

Should make the dev experience better 👍

[2017-02-10 00:47] MarkPieszak commented on #78
Just tried updating to 2.5.3 (with the latest VSCode, not the insider one or anything) and unable to get it working.

It would be great to have this ability though! Hope we can figure it out soon..

[2017-02-10 01:17] btmadison commented on #87
I am guessing the following problem may be related:

I have created a new project clone, have run dotnet restore and npm install.

from commandline I have tried:
set ASPNETCORE_ENVIRONMENT=Development
and then dotnet watch run

The site comes up fine at localhost 5000, but I notice that HMR is not active.

the console output is as follows:
GET http://localhost:5000/dist/vendor.css  (failed, has re

[2017-02-10 02:42] riiight commented on #97
I have a project based on the seed that I tried unsuccessfully to deploy,, but before I try to debug that again, I thought I would try a deploy of the seed itself.

Here are the steps I've taken:
- I created a brand-new App Service (Web App) on Azure.
- I downloaded the PublishSettings for that App Service.
- I got the entire seed (pristine from https://github.com/MarkPieszak/aspnetcore-angular2-u

[2017-02-10 03:10] MarkPieszak commented on #87
@btmadison I'll take a look first thing tomorrow, I've had HMR working, but wasn't testing CSS. Thanks for letting me know!

[2017-02-10 07:58] AbrarJahin commented on #87
To fix this issue, we need to un-comment this 2 lines-

https://github.com/MarkPieszak/aspnetcore-angular2-universal/blob/master/webpack.config.vendor.js#L50

https://github.com/MarkPieszak/aspnetcore-angular2-universal/blob/master/webpack.config.vendor.js#L51

Then **vendor.css** will be generated.

But we will get issue with **asp-prerender** with webpack2 which is getting conflicts with font fi

[2017-02-10 08:03] AbrarJahin commented on #98
Thanks for updating the code for better dev experience @MarkPieszak :1st_place_medal:

[2017-02-10 08:12] AbrarJahin commented on #97
Hi @MarkPieszak

I am still having the issue.

![image](https://cloud.githubusercontent.com/assets/4152843/22819143/fb88375e-ef9a-11e6-894c-a3fb5705860f.png)

Can u please have a look.

Thanks

[2017-02-10 13:41] MarkPieszak commented on #97
@riiight Hey Don, so I'm publishing straight through the command line onto a brand new WebApp on Azure. When the app is create I select Deployment Options, then select Local Git Branch. Once that's done, go to Deployment Credentials, make sure you set your deployment credentials login/password.

Now go to Overview for the web app, ad you'll see Git Clone Url and copy it.

Now you can do:

    git

[2017-02-10 13:42] MarkPieszak commented on #97
@AbrarJahin any reason why it couldn't compile aspnet? You have the latest rc.0 right?

[2017-02-10 14:18] btmadison commented on #87
in the past when I imported font-awesome.css from my node modules, I also had to import the 5 webfont files individually from the font-awesome/fonts folder - maybe this will help.  I will try your suggestion and see if vendor.css generates though with uncommenting as you suggested.

[2017-02-10 15:10] btmadison commented on #87
No luck with generating a vendor.css fil, I have tried your suggestions @AbrarJahin  - one thing I am not fully clear on though so this could be my error - other than setting the env var to dev and running dotnet restore, nom install, dotnet watch run (or dotnet run) - am I supposed to be manually running any other commands such as any of the webpack or other npm scripts?  For the readme, I only s

[2017-02-10 15:38] MarkPieszak commented on #87
Are you having errors with anything right now? Building webpack etc? @btmadison
There are scripts you can run to just run both webpack & vendor webpack bundles.

Run `npm run postinstall -- --display-error-details` so we can see anything specific going on for you.

I'll try and fix the vendor.css issue today, I might leave fontawesome out of the mix for now (since that's its own issue with webpack

[2017-02-10 15:49] AbrarJahin commented on #97
Frankly speaking, I am new in Heroku.

So, I am not sure.

My work procedure is-

1. Go to here- https://dashboard.heroku.com/new?template=https://github.com/MarkPieszak/aspnetcore-angular2-universal.git

2. Then click on Deploy

Can u help @MarkPieszak

[2017-02-10 15:51] AbrarJahin commented on #97
I am using default options.

Do I need to configure anything?

[2017-02-10 17:35] MarkPieszak opened #100 "Heroku deployment error - The process cannot access the file because it is being used by another process."
[code]

[2017-02-10 17:36] MarkPieszak commented on #97
There's definitely something strange going on with Heroku, I think we need to pass environment variables to it or something (?) I've used it in the past, but I'm no expert at it as well.

Moved Heroku issue to #100

[2017-02-10 19:35] MarkPieszak commented on #87
@btmadison For HMR have you set the ASPNETCORE_ENVIRONMENT by any chance? That's what triggers whether dotnet run will go into Dev mode and setup HMR.

If you're using VSCode, when you push F5 (it automatically) sets it to Development mode through the launch.json.

[2017-02-10 19:38] btmadison commented on #87
Yes I have. I will try more tonight Anna provide the requested debug output
from running the suggested commands. Thanks!

On Feb 10, 2017 1:35 PM, "Mark Pieszak" <notifications@github.com> wrote:

[2017-02-10 19:42] MarkPieszak commented on #87
Ok great! Just tried with a fresh repo (in a new directory) and without manually setting the environment variable to Dev, .NET thinks it's Production mode, so within the StartUp.Cs file HMR mode doesn't get enabled. Setting that fixed it. Hope that helps!

[2017-02-10 19:51] AbrarJahin commented on #97
Thanks @MarkPieszak

[2017-02-10 19:57] AbrarJahin commented on #87
@btmadison

Procedure is-

1. UnComment this 2 lines-

https://github.com/MarkPieszak/aspnetcore-angular2-universal/blob/master/webpack.config.vendor.js#L50

https://github.com/MarkPieszak/aspnetcore-angular2-universal/blob/master/webpack.config.vendor.js#L51

Then vendor.css will be generated.

If not generated, then run-

    node node_modules/webpack/bin/webpack.js --config webpack.config.vendo

[2017-02-10 22:41] riiight commented on #97
@MarkPieszak First off, thanks for the prompt reply. It is greatly appreciated.

I tried your method of deploying with git. Here's what happened:

- I created a new Azure App Service (Web App) and made all the setting changes you described.
- I got the latest seed from https://github.com/MarkPieszak/aspnetcore-angular2-universal. It does contain the changes to package.json that you mentioned.
- I

[2017-02-12 03:25] btmadison commented on #92
I am not sure if this is a hack, but I have found if I enable scss loading, and remove the imports from the cshtml - instead of loading the scss in the vendor scripts, I have just placed the import in the root app component styleUrls listed app.component.scss file, and set the encapsulation mode to ViewEncapsulation.None, thus setting the bootstrap generated css available to the whole application.

[2017-02-12 18:48] MarkPieszak commented on #92
Oh great, so you have it working? :100:
Do you want to make a PR to add the functionality in?

[2017-02-13 03:03] MarkPieszak commented on #20
@Mahbub-A-Rob Here's a hack/workaround to get Material up and running with Universal in the meantime, if you still needed it: https://github.com/angular/material2/issues/308#issuecomment-275361791

Putting it here in case others need it as well.

[2017-02-13 19:37] MarkPieszak commented on #94
@Krishna-teja Sorry for the delay, so basically in our instance here, we can't use the CLI because we leverage a lot from .NET who handles most of the heavy lifting, and wiring up with things like webpack, etc.

Potentially sometime in the future if the CLI has an easy extendable feature, then I could incorporate it within it, but at the moment things like `ng build / ng serve` just aren't needed

[2017-02-13 19:37] #94 closed

[2017-02-14 16:05] pjmagee opened #101 "Cannot pull in font-awesome. The file loaders in the template don't seem to work?"
The template uses an external CDN to pull in bootstrap and font-awesome so I removed that uncommented vendor.css and tried to use webpack for font-awesome with the existing webpack config but it causes errors...

[code]

I also noticed the `webpack.config.js` loaders tests don't match up with the same loaders and test regex that are inside the `webpack.config.vendor.js`.

[2017-02-14 16:14] MarkPieszak commented on #101
Related to #87.
Yeah I've been swamped but I have that one on the radar, there seems to be some issue with webpack2 & font-awesome, as it worked previously in 1.x (that's why I ended up putting them back in the CDN for now, just to get things working).

I tried a few different methods online on getting it fixed, but nothing seemed to do the trick yet. Hopefully tonight I have some time today/tomor

[2017-02-15 09:40] consigliory opened #103 "How to use directive only in browser."
I need to use ng2-dragula and it seem to have same ReferenceError: document is not defined issue.
It looks like I can add DragulaModule only for app.browser.module.ts but I still need to have [dragula]='"third-bag"' in template. and angular complains that [dragula]='"third-bag"' is not known property. Do I need to somehow create different template for serverside rendering? I tried to set ngIf so i

[2017-02-15 15:56] MarkPieszak commented on #103
So in order to make things like that easier I'm going to do a little refactoring to the `app.module` & `app.browser.module | app.server.module`.

Let me look over PR #102 (which moves the directory structure around to follow a more .NET standard) and then I can add these in there.

I'll merge over these app.module changes and leave an example of this so future people can benefit from it as well!

[2017-02-19 11:38] kukjevov commented on #83
Any news here? Are you planning to update this for beta.8 or will you wait for rc.0 ng4 ?

Thank you for great job here :-)

[2017-02-19 16:35] MarkPieszak commented on #83
I'll be updating very shortly currently testing it out to make sure and give feedback to the team, I'll make a PR to the repo in the next day or two!

When it gets in let me know if any issues pop up for you! @kukjevov

[2017-02-25 11:42] Mahbub-A-Rob commented on #20
@MarkPieszak Thank you for the link. I will check it out.

[2017-02-25 13:15] MarkPieszak commented on #20
We're about to release ng4 in March sometime, so hopefully after that Material can make the necessary changes and will be able to work without any problems at all 👍

[2017-02-25 17:01] MarkPieszak opened #104 "Add project to "dotnet new" template"
Once we are using Ng4.x and the new Universal .NET integration, i want to simply a few things within the app, clean it up and submit it to dotnet new.

🎈

Waiting on #118 #57 #58 #79

[2017-02-25 18:47] #79 closed

[2017-02-25 22:07] albrookesplowman opened #105 "Add Authentication via Azure Active Directory"
Hi Mark,

this is just the starter project that I have been looking for - an angular 2 client with a .net core server that supports server side rendering.

However, I was wondering whether it was possible to add authentication support via the azure active directory.

So far, I have created an app entry for my server API and configured this via my appsettings.json file and added the following into

[2017-02-25 22:23] albrookesplowman commented on #105
Is this done with the  [ValidateAntiForgeryToken] attribute in the server controllers?  Does this the same effect without the need of linking to active directory?

[2017-02-26 10:54] AbrarJahin opened #106 "Generated JS not linked in new folder structure"
Hi, I just have checked new folder structure now.

And found a major bug.

That is this-

![untitled](https://cloud.githubusercontent.com/assets/4152843/23339018/47b98a92-fc43-11e6-85dd-0462336d4a0e.jpg)

Actually, both of the files are generated from webpack-

![untitled](https://cloud.githubusercontent.com/assets/4152843/23339031/96a5d0fc-fc43-11e6-843a-ba98007908a2.jpg)

But they are not found

[2017-02-26 12:15] AbrarJahin commented on #106
I have got the issue.

It is generated because the code folder is not accessible by VS.

So, I have moved the folder or run VS in admin mode, and that solves the problem 🥇

[2017-02-26 12:15] #106 closed

[2017-02-26 13:05] MarkPieszak commented on #106
Is it something others need to do we should push into Master, or is everything ok?

[2017-02-26 20:35] consigliory opened #109 "Exception: Call to Node module failed with error: If you use aspnet-prerendering >= 2.0.0, you must update your server-side boot module to call createServerRenderer. Either update your boot module code, or revert to aspnet-prerendering version 1.x"

[2017-02-26 22:27] MarkPieszak commented on #109
@consigliory strange, we're using 2.x here, how did that error come up for you?

[2017-02-26 22:28] MarkPieszak commented on #105
Let me get back to you soon, apologies swamped this weekend!

[2017-02-27 11:15] markwhitfeld commented on #79
I definitely agree with this restructure but I feel that it should go a bit further...
I would say that the .net core app and the Angular 2 SPA should live in separate folders. At the moment it feels like the "src/Angular2Spa" folder is a mash between the two projects.
I would split the .net core app into a "src/AspCoreServer" folder and have the only link between the two as the dist folders that

[2017-02-27 13:53] AbrarJahin commented on #79
I also agree with @markwhitfeld

[2017-02-27 14:14] MarkPieszak commented on #79
Definitely a good idea!
Well one thing we could definitely do is take out the WebAPI and such from within this project and into it's own Project, but we'll need to make sure all `/api` calls are proxied to this new address (for development, and production environments as well).

I'm currently moving away from the `TagHelper asp-prerender` in the 4.x re-work, and moving that logic into the `HomeCon

[2017-02-27 18:36] markwhitfeld commented on #79
I have done the restructure and got the project compiling. The one last thing I am fighting with is the "dotnet publish" with the relative paths. I will submit the pull request shortly.
I haven't had a chance to look at separating the api bit.

[2017-02-27 19:24] markwhitfeld commented on #79
I'm not quite sure how you were wanting the WebAPI to be split out, so please take it from here regarding that. Thanks for an awesome project!

[2017-02-27 20:17] MarkPieszak commented on #79
Let me take a look at your PR soon, need to make sure everything is still working!
And thanks, glad you're enjoying it!

I'm hoping to finally have the time to spice up the styling and a few other clean-up things, but it's hard to find the time with work and all! :(

[2017-02-27 21:09] kukjevov commented on #83
Hello :).

I can see that you are already working on it, it is just great :). I want to ask you are there any changes required from https://github.com/aspnet/JavaScriptServices project to make angular4 working? Are you planning to update also their template for Angular2Spa, or you are going in different direction as they are going ?

Thank you :)

[2017-02-28 02:06] MarkPieszak commented on #83
So far everything is going well! I'm currently creating a wrapper for the .NET integration so it will automatically try to pass down Title/Meta & Styles tags separately (for you to parse yourself on the .NET side).

Yes I was going to send a PR to the JavaScriptServices repo as well! Some main differences will be that we'll no longer use the TagHelper, and that the code will either be triggered in

[2017-02-28 06:41] markwhitfeld commented on #79
Just one last thought on the structure... In the angular app it is not clear how it would scale regarding adding multiple features. The [recommended file tree structure](https://angular.io/docs/ts/latest/guide/style-guide.html#!#file-tree)  in the Angular2 Style Guide talks about a [folder per feature](https://angular.io/docs/ts/latest/guide/style-guide.html#!#04-07) approach.

I can really see th

[2017-02-28 09:00] Mahbub-A-Rob commented on #20
Eagerly waiting for ng4.

[2017-02-28 16:25] fmeira opened #111 "Support for i18n"
It would be great to include internationalization support by default :)

[2017-02-28 23:07] yanbu0 opened #112 "Windows Auth Breaks HttpCacheService"
Checking the "Enable Windows Authentication" checkbox in Debug properties in VS 2015 breaks the HttpCacheService.  To replicate, simply check the box, run debug and navigate to the rest-test page.  Unchecking the box removes the error, and replacing httpCache with http remvoes the error.

The error from Node is:
Exception: Call to Node module failed with error: Response with status: 401 null for U

[2017-02-28 23:57] MarkPieszak commented on #111
Great idea we can add this in fairly easily! Stay tuned :)
Making sure the port to ng4 goes smoothly and we'll be able to make cosmetic tweaks more easily afterwards!

[2017-03-01 13:08] MarkPieszak commented on #105
Are you providing `options` to the call there? Headers or anything?

[2017-03-01 13:09] MarkPieszak commented on #109
Let me know so we can try to repro.

[2017-03-01 13:16] MarkPieszak commented on #112
Can you try something else for me, go to `Views/Home/Index.cshtml` and remove the` asp-prerender="bootstrap-server"` attribute from the `<root-app>` tag?

I'm wondering if Windows Auth is breaking the entire App, or if it's something during the SSR (server-side rendering) part that it's breaking. Let me know!

[2017-03-01 13:19] MarkPieszak commented on #101
@pjmagee Apologies for the delay, been a crazy past few weeks. Let me knock this one out real quick today for you!

[2017-03-01 15:42] AbrarJahin commented on #101
That would be great :)

[2017-03-01 16:24] MarkPieszak opened #113 "** Repo updates ** for Watchers & Contributors"
# When is the Angular 4.x upgrade coming?

Official Angular 4.x release is slotted for the *week of March 22nd*,
but I am hopeful to **release the upgraded Universal solution here in RC form sometime soon**, so we can give it a solid test run to provide any possible feedback / errors we run into with it, with the .NET-Angular SSR integration. I'm sorry for any delay on this!

We will no longer be

[2017-03-01 19:29] yanbu0 commented on #112
Yes, removing the `asp-prerender-module="Client/dist/main-server"` attribute also makes the error go away.

[2017-03-01 21:10] hheexx commented on #113
Hi Mark.

Maybe you should separate 4.0 upgrade and introducing AOT so we can more easily know regression causes?

[2017-03-02 02:13] AbrarJahin commented on #112
But it is not solution because we need pre-rendering

[2017-03-02 17:29] yanbu0 commented on #112
True

[2017-03-03 13:45] albrookesplowman commented on #105
Hi Mark,  Sorry for the delay in getting back to you... The day job is quite hectic at the moment.  I will have another look at this over the next few days and I will let you know if I can get it working correctly.  I have found some other templates that show me how to do it so I will try and integrate it into this template.

[2017-03-03 16:28] hheexx commented on #83
Hi Mark!

I know you are redoing angular-asp integration know so I wanted to ask if we can make a way that if angular router can't find a route that it send's that info to asp so it can set http status code to 404.

Important for SEO.

[2017-03-03 16:46] MarkPieszak commented on #83
Hey @hheexx
So I'm going to be gone this next week so I can't imagine I'll be able to put anything up just yet (I'd rather make sure everything is ironed out and totally production ready!) It shouldn't be an issue to have both AoT and ng 4.x though no worries :)

As for the 404, if you refresh the page here: It actually already does Render the 404 on the server through the Angular app: http://aspn

[2017-03-03 18:10] AbrarJahin commented on #83
I think that is not possible to handle 404 page by the server because angular works after server HTTP done and it works on the pages what is not existing on the server.

So, 404 page should be handled by angular as far as I know.

if you @hheexx need to use a server rendered 404 page then you should use that inside angular 404 page with a service, as far as I know.

Isn't it right @MarkPieszak ?

[2017-03-03 19:29] MarkPieszak opened #114 "Fix README links"
Now that the project has shifted the README links no longer work.

PRs welcome!

[2017-03-04 10:23] kanpinar opened #115 "hot refresh"
I am updating navmenu.component.html and
If i run application in Visual Studio -> IIS Express it shows changes in success
But if i run with dotnet run it doesnt.

From Debug lines i see difference comes from WebPack...
webpack building...
webpack built 5cdc4f0080d9135fba3b in 2011ms

How to achive this via dotnet run
What i am missing.

[2017-03-04 10:35] kanpinar commented on #115
oh my,

             set ASPNETCORE_ENVIRONMENT=Development

before dotnet run fixed my issue...

[2017-03-04 14:52] MarkPieszak commented on #115
Great! Was about to say just set that variable and you'll be all set!
Glad you got it figured out

[2017-03-04 14:52] #115 closed

[2017-03-04 16:20] AbrarJahin commented on #114
I am checking and doing this.

NP :)

[2017-03-04 17:15] AbrarJahin commented on #114
PR done-

https://github.com/MarkPieszak/aspnetcore-angular2-universal/pull/116

[2017-03-04 20:48] Aymankassas commented on #32
Hi ,
are we able in insert meta data in server side ?
Thanks

[2017-03-04 22:27] MarkPieszak commented on #32
Not yet but soon there will be updates to the repo for Angular 4.0 and Meta will all be set :) @Aymankassas

[2017-03-04 22:27] #114 closed

[2017-03-04 22:30] Aymankassas commented on #32
Thank you ,
But i would to ask if we can run our code on server , why we can not insert meta by meta.service or insert it to head to html on server then send all html with meta to client

[2017-03-04 22:58] meteor-learning opened #117 "[proposal] CLI command support"
Now that the Angular CLI is in RC, is it possible to add CLI command support?  Your starter template has much more features than the CLI starter template, which is why I'm interested in your starter, but at the same time I would like to have the ease in adding related files to a component all at once like the CLI allows.  I tried following directions [here](https://github.com/angular/angular-cli/i

[2017-03-05 03:19] AbrarJahin commented on #32
Hi @MarkPieszak , I think it is an important issue, but this issue-

https://github.com/MarkPieszak/aspnetcore-angular2-universal/issues/87

is more important.

What do you think?

[2017-03-05 03:46] MarkPieszak commented on #117
I could try to add the _generator_ aspect of the CLI to the repo, but at least in our case here (with .NET), we have control over the build / prod builds / server / test commands through `npm` and otherwise.

I'll see what I can do! ng 4.x upgrades with SEO, AoT, and other things are coming first but maybe afterwards can try to get it in there.

[2017-03-05 04:00] MarkPieszak commented on #32
It can be done, but it takes handling collecting all of the needed data manually during the server render and manually pulling it out from the serialized result, passing it back to .NET in the Controller, and then rendering things manually through `ViewData[]` as opposed to the TagHelper. (You can see what *part* of what it's going to look like very soon when I rollout the ng4.0 [here](https://git

[2017-03-05 09:25] AbrarJahin commented on #87
Hi @MarkPieszak , is there any update regarding this issue?

[2017-03-05 14:41] jrmcdona opened #118 "VS2017"
Hi Mark,
This looks great.  I am using the  JavaScriptServices VS template and have it running to in VS2017 and the team is using that.

Will this starter pack simply fail in VS2017 or convert fine?   Thinking about upgrading to this starter pack because I want webpack2 and karma up and running.

Thanks

[2017-03-05 15:05] #87 closed

[2017-03-05 15:05] MarkPieszak commented on #87
Fixed 🍻 🍺
via https://github.com/MarkPieszak/aspnetcore-angular2-universal/commit/a194af3cff77af6d5456ebbbf03af87558da6bb3 just now

[2017-03-05 15:08] MarkPieszak commented on #118
We finally just merged in some of the big structural changes to the Repo, if someone wants to take a look, it's definitely time to upgrade now that VS2017 is coming out around the corner!

We have the one solution file at the `root`
and the one project.json file in `AspCoreServer`

PRs always welcome of course if you want to look at JavaScriptServices for reference on how to upgrade them!

I'm unf

[2017-03-05 15:09] #54 closed

[2017-03-05 15:45] AbrarJahin commented on #87
Thanks @MarkPieszak for the great work 💯

[2017-03-05 20:34] hheexx commented on #83
Mark, you can see in developer tools.
404 page you shared is still served with http status code 200.
https://i.gyazo.com/ce381a772a4ca7b47e1f1dc0c760dc7f.png
That is not good for SEO. Google does not understand it's 404 page.

It is ok that 404s are served from angular but we just need a way for a angular to pass right status code to asp with rendered string so asp can set correct header.

[2017-03-07 14:23] AbrarJahin opened #122 "Request to add a CRUD app in app showcase"
Hi @MarkPieszak ,

Currently, we have a REST API in here-

https://github.com/MarkPieszak/aspnetcore-angular2-universal/blob/master/docs/RESTAPI-ENTITY.MD

So, we can easily add a CRUD example in here-

https://github.com/MarkPieszak/aspnetcore-angular2-universal/blob/master/src/AspCoreServer/Server/Api/UserController.cs

So, we can use this to create a CRUR app in Angular2 on this page-

https://

[2017-03-08 05:02] AbrarJahin opened #123 "Project Entry point is not OK"
Hi, in current project structure, I am getting this error-

![image](https://cloud.githubusercontent.com/assets/4152843/23690778/74edf216-03ee-11e7-8704-8ce2390c279c.png)

To solve this we need to choose default project to `AspCoreServer`

But it needs to be done every time when the project is copied.

It is better if it is done automatically so that if project is cloned and we try to run the proj

[2017-03-08 05:06] MarkPieszak commented on #123
Just merged #119 is that what we needed here?

[2017-03-08 05:19] AbrarJahin commented on #123
Thanks @MarkPieszak for merging the solution 👍

[2017-03-08 05:19] #123 closed

[2017-03-08 05:27] MarkPieszak commented on #123
Course thanks for figuring that one out!
We need to port it over to VS2017 asap as well since it's coming out tomorrow 🗡

I'm busy until the weekend :(

[2017-03-08 05:59] AbrarJahin commented on #123
Sure.

Understand your condition.

Thanks for your help

[2017-03-08 06:04] AbrarJahin opened #124 "PrePublish scripts are not called"
Hi, currently if we run the script from cmd, it is working fine, but if we try to restore the **npm package**s from Visual Studio, it is not working. NPM packages are not restoring automatically.

Because this line-

https://github.com/MarkPieszak/aspnetcore-angular2-universal/blob/master/src/AspCoreServer/project.json#L72

is not called automatically when we are trying to run the app.

Can u plea

[2017-03-08 11:23] StefanRein opened #125 "[Feature Request] IntelliSense with Resharper"
Hey,

using TypeScript 2.2 and Resharper (Build 2017.1 EAP 3 - Released February 28, 2017)
https://www.jetbrains.com/resharper/eap/

He can not resolve all the `export * from 'folder'`, like `export * from 'app'`. He does not know to search in the index.ts file and get everything from there.

Maybe you could look into that?

[2017-03-08 14:06] AbrarJahin commented on #124
And also, this URL - http://aspnetcore-angular2-universal.azurewebsites.net/

is not working-

![image](https://cloud.githubusercontent.com/assets/4152843/23706964/978022b2-043a-11e7-8bd3-c2024d263090.png)

[2017-03-08 15:51] MarkPieszak commented on #125
So until we get the upgade to Angular 4.0 you actually can't go above TypeScript 2.0.10 (higher versions of TS do more advanced type inference which breaks Angular, but these things are fixed in 4.0+)

That might be part of the issue, when we upgrade to 4.0 let's re-look into this and hopefully it'll all work then!

[2017-03-08 15:51] MarkPieszak commented on #124
I'll have to check my azure, thanks for letting me know!!

[2017-03-08 15:54] AbrarJahin commented on #124
And also, please check this issue also- "PrePublish scripts are not called"

Thanks @MarkPieszak

[2017-03-12 09:02] siudeks opened #126 "Demo application *aspnetcore-angular2-universal.azurewebsites.net* is stopped"
[Demo site](http://aspnetcore-angular2-universal.azurewebsites.net/) does not work.

[2017-03-12 15:28] MarkPieszak commented on #126
Thank you for letting me know! Must be something with my Azure account / setup. Let me fix that :)

[2017-03-12 20:13] asadsahi commented on #126
@MarkPieszak happens to me all the time. :) Azure sites aren't getting stable with alot of moving parts around .net versions and tools.

[2017-03-12 22:11] MarkPieszak commented on #126
😓 is it from the shift due to vs2017 I'm guessing?
I need to update the repo to the newest .NET, 2017, etc.
Need to spend a solid entire day to get this baby fixed up. Haha

[2017-03-12 22:16] asadsahi commented on #126
:) I am waiting for these things to stable. I deploy my personal projects using web deploy from command line since last time I spent that same day figuring out why subsequent deployments of same project failed with 502.x errors.

But you are right, it must be shifing of csproj shift or something.

[2017-03-12 23:31] MarkPieszak commented on #126
Yeah I hope by now things will be more "stable", everything has been rough enough from all ends with all this beta software, I know you've been going through the same pains! 😆

I'll give it a shot this week and see how bad it is :P lol

[2017-03-13 13:01] albrookesplowman commented on #105
I have finally had some time to give this some more thought... and I have been reading around and there may be a better solution to what I need to do .... IdentityServer4.   Does this make any sense and would it be of any interest to you?

[2017-03-13 18:09] MarkPieszak commented on #126
@siudeks Fixed :dancer:
Thanks for letting me know!

[2017-03-13 18:09] #126 closed

[2017-03-13 18:43] MarkPieszak commented on #105
Is IdentityServer4 just for ActiveDirectory or other login ID situations?

[2017-03-13 18:48] MarkPieszak commented on #124
I think I might need to revert some of the updates done in that last move from AspClient -> AspServer layout, I thought it would work without a hitch but seems it has inherently lots of problems with VS :(

Need to get the repo in good working order so I can make some bigger updates for Angular4 etc

Closing this for now so I can revert those changes

[2017-03-13 18:48] #124 closed

[2017-03-13 22:07] netpoint opened #127 "HMR not found"
I am getting a problem with HMR. It will occasionally work, but the majority of times I get the following error message. Does anyone have any suggestions.

Thanks
Steve

GET http://localhost:43786/dist/039336adc28987bf069a.hot-update.json 404 (Not Found)
(anonymous) @ VM40:2
n @ vendor.js?v=_4S4IlOKC9fD4KzgZ7M1WkEivdrqwl5_qEbGmyeOBic:856
e.scheduleTask @ vendor.js?v=_4S4IlOKC9fD4KzgZ7M1WkEivdrqwl5

[2017-03-14 00:59] AbrarJahin commented on #127
Currently, we have a little problem with scripts.

https://github.com/MarkPieszak/aspnetcore-angular2-universal/issues/124

So, we have to do this part manually.

1. To do that, after cloning the repo, in command prompt, please go to the cloned directory.

2.  Then run this command-

    ./src/AspCoreServer/prepublish.cmd

By running this command all node modules will be installed and vendors and

[2017-03-14 10:43] albrookesplowman commented on #105
It can be used with other external login providers...

https://blogs.msdn.microsoft.com/webdev/2016/09/19/introducing-identityserver4-for-authentication-and-access-control-in-asp-net-core/

I was going to develop my application to use ActiveDirectory but I am beginning to consider the benefit of linking in with other identity providers e.g. google/facebook etc.. so if you are interested in adding

[2017-03-14 12:36] hheexx commented on #83
How it's going @MarkPieszak ?

Just to remind you, it's really burning under my feet xD

[2017-03-14 13:46] MarkPieszak commented on #105
I think having Google/FB/Twitter integration would be huge for most people, plus they could just as easily remove it if they don't need it!

[2017-03-14 14:08] MarkPieszak commented on #105
I'm actually going to revert a few recent changes do you want to wait and I'll ping you when we're all set and you can try to add those features? @albrookesplowman

[2017-03-14 20:40] albrookesplowman commented on #105
No probs - I have done a clone of a couple of days ago so I will try some bits and pieces in that clone and then, once ready, add it in when I have it working.... fingers crossed... :)

[2017-03-16 23:50] joshcomley opened #130 "Question: how can I add a server side environment variable?"
Hi and truly thanks for this repo!

How can I add an environment variable that is accessible server side in Angular?

For example an API endpoint that is localhost for development and some online endpoint for production.

I have studied the code but can't see an example, apologies if I've missed anything!

[2017-03-17 08:23] fmeira commented on #130
Don't think there is support for it at the moment.
I did tackle this by adding a service call to load those environment variables at app startup. Can provide a PR if desired.

[2017-03-17 10:50] MarkPieszak commented on #127
@netpoint did that fix it for you by any chance?

[2017-03-17 12:06] kukjevov commented on #130
Hello, i`m not entirely sure what you mean by your question. But you can stuff like that using webpack.

Don`t know if you mean ENVIRONMENT VARIABLE from system, or just variable that is accessible in your typescript as global variable lets say.

You can provide "global" variable that will be available in all your scripts using https://webpack.js.org/plugins/define-plugin/.

If you want to use Sys

[2017-03-17 13:35] MarkPieszak commented on #130
@kukjevov Is right, I actually have it setup already in the project so you should be able to test again process.env.production to set a different BASE_URL for your Apis for example.

https://github.com/MarkPieszak/aspnetcore-angular2-universal/blob/master/src/Angular2Spa/webpack.config.js#L185

You can see it in use here in bootstrap-client: https://github.com/MarkPieszak/aspnetcore-angular2-unive

[2017-03-17 13:36] #130 closed

[2017-03-17 16:47] dguisinger commented on #83
Hey @MarkPieszak any comments on where this is at?  I saw you commented in your last ng4 branch checkin that you were shelving changes for now.

Any timeline for when things will be ready?  ng4 release should be almost any day now.

Also, I hate to be that person, but any chance you can write a walkthrough on how to convert a project that was built from the version included in JavascriptServices b

[2017-03-17 17:57] MarkPieszak commented on #83
Glad you asked I'm actually working on it now :)

Using the latest RC4 that was released today 👍
![image](https://cloud.githubusercontent.com/assets/2574412/24056213/3f07e882-0b19-11e7-98eb-5e56f658b3e0.png)

I'm actually trying to mirror more closely to Steve's JavaScriptServices to make life easier for people, there have been some recent big changes to the App structure but they seem to be causi

[2017-03-18 12:11] joshcomley commented on #130
Hi all/Mark,

Thanks for that, I'll have a look at using `process.env`, I guess this will only be accessible within an "isNode" if statement, which is fine.

As an aside, really looking forward to Angular 4 and AOT integration! It's great they're moving Universal to the core so it is not left behind and kept in line with Angular Core's standards.

Anyway, once again this project really was a huge

[2017-03-18 12:15] albrookesplowman commented on #118
Now that I have VS2017 Enterprise installed, do you want me to have a look at building it in VS2017?

[2017-03-18 13:44] MarkPieszak commented on #118
Hey @albrookesplowman it's ok I'm actually doing several things at the same time to get the repo up to date: angular4, platform-server, AoT, vs2017, and a few others.
Shooting to have them in the repo by tomorrow.
It will still be rc anfular4, but thought it'd be nice to have people test it out a little bit on their end so we can give some feedback.

So far last remaining bug is that animations er

[2017-03-18 13:47] MarkPieszak commented on #130
So the process.env are set from webpack and become available in your code, so when it builds development mode, in your code (process.env.defelopment) will be true, and process.env.production will be false. You can use those if you need to set something based on those scenarios.

Glad it helped! The project structure might change a bit again, think I'm going to keep it simpler as it originally was

[2017-03-19 04:08] dguisinger commented on #83
Great, looking forward to it.

Any idea how to solve this?  I had your code up and running, and I can't figure out what I changed but now I'm getting:
NodeInvocationException: The Node invocation timed out after 60000ms.
You can change the timeout duration by setting the InvocationTimeoutMilliseconds property on NodeServicesOptions.

I kept increasing the timeout, but it seems to top out at 60 sec

[2017-03-19 12:53] MarkPieszak commented on #83
What code are you trying to run? The code in the ng4 branch is very old, I have everything locally win the latest stuff 😓 I'll push up the updated code today though so you guys can take a look. One of the last remaining issues is animations breaking on the server but Vikram and Alex are working on that one.

I'll keep you posted today as I get stuff in here.

[2017-03-19 17:13] dguisinger commented on #83
hah yeah, I've been using your 2 week old code... I think part of it may be just the size of the project, my modules aren't lazy loading at the moment.  I don't suppose you've been working to add AoT compiling support to your web pack example that's included, without it you can't lazy load modules when webpack is used.  I miss the days of everything being built right into the visual studio build c

[2017-03-19 18:44] MarkPieszak commented on #83
Yeah the whole ecosystem / build tools / etc have changed pretty dramatically the past 2-3 years.
Lazy-loading will work fine with the latest stuff no worries there! :)

[2017-03-19 19:33] #127 closed

[2017-03-19 19:41] netpoint commented on #127
I have not downloaded the latest code to use in my current project. Since the latest is split into server and client projects it will take me a while to split my project. I am using a commit from the end of Feb. I did clone the latest version and try running  the .\src\AspCoreServer\prepublish.cmd but got some errors. When I get time I will try it again and post the errors.

The HMR problem is odd

[2017-03-20 08:23] fmeira commented on #130
Just as a side note, I am loading a json file with app config setting as I don't see it proper to have those in the webpack config. These settings are per-installation and thus should be easily changed by non technical people. That was the type of solution I was referring to.

[2017-03-21 05:04] MarkPieszak commented on #83
![image](https://cloud.githubusercontent.com/assets/2574412/24133281/f9949d98-0dd1-11e7-909d-eb3f5ca74b2c.png)

So it's basically all set, I'm just cleaning up the Repo in the morning, I think it's best to simplify it again a little bit (and take it back to the 1 project way it was before).

In the screenshot above we have everything being abstracted out automatically, and those things are all ren

[2017-03-21 14:59] hheexx commented on #83
Hi @MarkPieszak,

Looking good :)

Can you test/confirm following use cases:

1) cannonical url
<link rel="canonical" href="https://blog.example.com/dresses/green-dresses-are-awesome" />

2) hraflang
<link rel="alternate" hreflang="es" href="http://es.example.com/" />

3) right http status code
comment 9

[2017-03-21 19:44] MarkPieszak commented on #83
As for canonical, I'll provide a nice `LinkService` class that'll automatically grab them (if you have any link info setup in your `router : data {}`

![image](https://cloud.githubusercontent.com/assets/2574412/24167290/a174f5ce-0e4c-11e7-820b-c88afe42410b.png)

Is canonical and that alterante something that is changed per Route or a global thing?
You'll be able to just make some Meta or Link elem

[2017-03-21 19:48] hheexx commented on #83
per route.
alterante should link url-s in different languages. It should be connected to i18n systems.

[2017-03-22 12:27] kukjevov commented on #83
Hi @MarkPieszak,

i have been working on my own solution for angular 4.0 SSR and everything around it, since we are using angular in both Java and .Net environment in our company. I had great inspiration from you and from FrozenPandaz ng-universal-demo. Thanks to both of you i have working solution so far. You can check it https://github.com/kukjevov/ng-universal-demo if you want, maybe have some

[2017-03-22 21:42] pjmagee commented on #101
Closing this since it's been fixed on another issue!

[2017-03-22 21:42] #101 closed

[2017-03-22 22:59] MarkPieszak commented on #101
Glad to hear it! 👍

[2017-03-23 16:48] pjmagee commented on #118
I actually used the template you provided but we have since moved forward on our project and have successfully migrated to VS2017. Just double check the launchSettings.json file that is used by Visual Studio. But the migration from project.json to project.csproj was handled by Visual Studio perfectly fine.

[2017-03-23 17:25] Axure opened #131 "`npm install` does not on Linux because the filesystem is case sensitive"
The directory is called `Angular2Spa`, but in the `package.json` it is `angular2spa`.

[2017-03-23 21:28] MarkPieszak commented on #131
Thanks for letting me know! I'll have to clean that up as well.
I'll make sure that's fixed in the next iteration of the project!

[2017-03-24 14:11] hheexx commented on #83
Hi @MarkPieszak,

Angular 4 is released and this is sliding day by day for a month now.
Can we get any hard date when we can expect this to land or if you can land anything on a breach now.

If we can't get this in production by end of next week we have to switch to prerender.io or something similar.

[2017-03-25 01:36] MarkPieszak commented on #83
Unfortunately the changes in both VS2017 & Angular 4.0 made things keep getting pushed back due to new and different errors...

I'm about to push up a WIP one, (The styles/meta/title aren't working as of 4.0 release last night but they were with RC6) But that shouldn't be too tough to fix.

At least now it's VS2017, and simpler as well.
I'll add more features in there soon, just want to keep it a

[2017-03-25 01:50] MarkPieszak commented on #83
https://github.com/MarkPieszak/aspnetcore-angular2-universal/tree/angular4.0-NEW-wip

[2017-03-25 02:41] MarkPieszak commented on #113
4.0 Branch here, will merge to Master when more updates are in there:

https://github.com/MarkPieszak/aspnetcore-angular2-universal/tree/angular4.0-NEW-wip

[2017-03-25 02:41] #113 closed

[2017-03-25 02:51] MarkPieszak commented on #118
4.0 branch [here](https://github.com/MarkPieszak/aspnetcore-angular2-universal/tree/angular4.0-NEW-wip), uses VS2017. Will have it all in Master once it's more up to date with the Master repro.

[2017-03-25 03:49] MarkPieszak commented on #86
Looks like UI-Router should work with it :)
https://github.com/ui-router/ng2/issues/18

[2017-03-25 03:49] #86 closed

[2017-03-27 13:36] hheexx commented on #83
Thanks a lot Mark!
I feel much better when I can work on something then when I sit helpless.

I have started integration. Had a problem with this bug
https://github.com/angular/angular/issues/11580

I managed to fix it with seperate plugin config for client and server:

Client:
`new webpack.ContextReplacementPlugin(/angular(\\|\/)core(\\|\/)@angular/, path.resolve(__dirname, 'notexist/')),`

`new

[2017-03-27 13:39] hheexx commented on #83
Also, do we need this in packages "@angular/tsc-wrapped": "^0.5.0",  ?
As I understand it's sub dependency of compiler.

[2017-03-27 15:10] MarkPieszak commented on #83
Probably don't need it, it'll be included anyway I believe.
Yeah those just change trailing lines during the webpack config, no worries. As long as it works 💃

[2017-03-27 16:16] hheexx commented on #83
I'm currently stuck with very ungrateful error:

Exception: Call to Node module failed with error: Prerendering failed because of error: undefined

Any idea?

btw AOT is not in yet?

[2017-03-27 16:53] hheexx commented on #83
reflact-metadata was missing.

[2017-03-27 22:13] hheexx commented on #83
Mark,

What is a way to use isPlatformBrowser ?

1)
[code]

2)
[code]

or 3)
[code]

I'm pretty sure it's third option but then I get:
Error: Uncaught (in promise): Error: No provider for PLATFORM_ID!

[2017-03-28 01:28] MarkPieszak commented on #83
You're using it like so?

[code]

You could also just create your own that would work sort of like the isBrowser we used to have in angular2-universal, just need to inject them like so instead `@Inject('isBrowser') private isBrowser: boolean`

[code]

[2017-03-28 03:38] dguisinger commented on #83
I applied your changes to my existing project and am having an issue with image references.

I'm assuming this has something to do with the webpack config changes but I am not that knowledgeable in configuring webpack; i compared your source to my old source and nothing stood out.

I'm getting the following:
Module not found: Error: Can't resolve './img/avatar-2.jpg'
Which is a client-side referen

[2017-03-28 08:43] hheexx commented on #83
Yea @MarkPieszak. Like so.

Now I switched to your solution with isBrowser provider and it's much more elegant and more importantly - it's working.
Thanks!

[2017-03-28 10:58] LiverpoolOwen commented on #83
ERROR in ./~/browserify-sign/algos.js
    Module not found: Error: Can't resolve './browser/algorithms' in 'C:\Users\o
wen.pierce\Source\Repos\Angular4Core\src\Angular2Spa\node_modules\browserify-sig
n'
     @ ./~/browserify-sign/algos.js 1:17-48
     @ ./~/crypto-browserify/index.js
     @ ./~/angular2-universal-polyfills/~/reflect-metadata/Reflect.js
     @ ./~/angular2-universal-polyfills/brows

[2017-03-28 14:09] hheexx commented on #83
@LiverpoolOwen
I just had same error on build server.

Try deleting node_modules. That fixed it for me.

[2017-03-28 15:49] LiverpoolOwen commented on #83
Thanks @hheexx! I just ran an `rm -rf node-modules` and ran `npm i` then `webpack` and `webpack  --config webpack.config.vendor.js` and it seems to be fine.

Although when I ran `rm -rf node-modules` and 'yarn' it tried running the webpack configs and hit the error again. Weird.

[2017-03-28 19:37] MarkPieszak commented on #83
Yarn might not be triggering the postinstall script?

[2017-03-29 12:15] LiverpoolOwen commented on #83
Yes that will be it thanks. Any update on the AOT? @MarkPieszak

[2017-03-29 21:06] hheexx commented on #83
@MarkPieszak

In aspnetcore-engine.ts, is there any particular reason why you get meta and title from AST_DOCUMENT but you get style by cutting output html string?

There is a bug currently that meta tags are emitted twice because they are emitted in between multiple <style> tags so they are embedded in style.

I will try now to get style now from AST_DOCUMENT.

[2017-03-29 21:33] MarkPieszak commented on #83
Meta are coming up between styles ? I'll take a look!

[2017-03-29 21:36] hheexx commented on #83
I turned on your "Broken after 4.0 (worked in rc)" code and it's working for me so I switched to that.

[2017-03-30 14:55] MarkPieszak commented on #118
I merged into Master, so we're on 2017 only now :+1: :100:

Fixing any issues and upgrading a few things today

[2017-03-30 14:55] #118 closed

[2017-03-30 14:56] MarkPieszak commented on #83
Merged into Master and going to tweak a few things right now, closing this out as we have 4.0 in Master at least :1st_place_medal:

[2017-03-30 14:56] #83 closed

[2017-03-30 14:56] #103 closed

[2017-03-30 14:57] MarkPieszak commented on #57
This is now finished as 4.0 branch has been merged to Master :+1:
Tweaking it to get it more up to date with how Master originally was.

Closing this one out

[2017-03-30 14:57] #57 closed

[2017-03-30 14:57] MarkPieszak commented on #131
Master now has 4.0.0, and is only for VS2017, can you give it a shot there and see if it helped fix this issue? Let me know if not, we can re-open!

[2017-03-30 14:57] #131 closed

[2017-03-30 17:50] hheexx commented on #10
@MarkPieszak
Can we expect aot soon ?

[2017-03-30 18:52] MarkPieszak commented on #90
@hakonamatata Jan set this up for us! Merged into Master this morning :100:
Closing this one out

[2017-03-30 18:52] #90 closed

[2017-03-30 18:53] MarkPieszak commented on #92
@btmadison Apologies for the crazy delay, it's been absolutely crazy these past many weeks with all the changes going on, but I'm actually going to make this a standard for the repo (bootstrap w/ scss for theme-ing)

[2017-03-30 20:58] heqiao opened #133 "Run with VS code"
Noob here. I tried the latest ag4 starter and it works in VS 2017. But with VS code, the changes I made in .ts or .html files did not show on the browser after `dotnet run`, webpack didn't seem running.
Does it require any configs to run correctly with VS code?

[2017-03-30 22:12] MarkPieszak commented on #133
So you need to set do: (if windows)

    set ASPNET_ENVIRONMENT=Development

To set the environment variable.

Would be nice to get the Vscode launch files back in the repo, there's an easy way to get it to set it automatically for you on Launch as well.

[2017-03-31 11:16] swaner opened #134 "Server side rendering on Angular 4 in Azure: Prerendering failed because of error: Error: Cannot find module"
I have a issue in Azure trying to get server side prerendering to work with Angular 4.
The problem is that node doesn't seem to find any packages. All the modules are in package.json and I can debug locally without any issues.
The project is based on this repo with a few modifications. Any hints of what to look for? Can I somehow see whats going on inside node and get a better error message?

[2017-03-31 13:59] MarkPieszak commented on #134
@hakonamatata Jan did you run into this at all?

Did node_modules install properly, es6-shim is in the package.json (soon to be replaced with core-js).
There are some logs somewhere in Azure you can check to see if they give any other info, did anything come up when you tried pushing to Azure? I'm guessing that's when it might of happened?

[2017-03-31 14:16] heqiao commented on #133
I set the environment, then(not sure if related) it shows error message

`EventSource's response has a MIME type ("text/html") that is not "text/event-stream". Aborting the connection.`

Does not happen in VS 2017.

[2017-03-31 18:45] MarkPieszak commented on #28
Seems like this would really be out of the scope as you'd want to just have a separate project probably handling this.

[2017-03-31 18:45] #28 closed

[2017-04-01 04:17] #109 closed

[2017-04-01 04:18] MarkPieszak commented on #41
This might be something better for a documentation markdown file as not everyone will need it, going to close it out for now!

[2017-04-01 04:18] #41 closed

[2017-04-01 16:48] alvirtuoso commented on #133
It works on my Visual Studio Mac preview version.  I just opened the .csproj file, built it and all good to go.

[2017-04-01 17:14] MarkPieszak commented on #133
If anyone can figure out what's going on with VSCode and setup launch files that'd be amazing!

[2017-04-01 18:16] consigliory opened #136 "has no exported member 'AnimationDriver'."
Hi Mark. I am trying to update project to use angular 4. but got
ERROR in [at-loader] ./node_modules/angular2-platform-node/node-platform.d.ts:1:10
node_modules/@angular/platform-browser/platform-browser"' has no exported member 'AnimationDriver'.
ERROR in [at-loader] ./node_modules/angular2-platform-node/node-renderer.d.ts:2:10
node_modules/@angular/platform-browser/platform-browser"' has no expo

[2017-04-01 18:22] MarkPieszak commented on #136
You have to remove and delete _all_ references to angular2universal and platform-node libraries and imports, they're pointing to old 2.x stuff.

[2017-04-01 19:03] #136 closed

[2017-04-01 19:15] LiverpoolOwen commented on #133
It works for me on a windows machine

[2017-04-01 20:05] LiverpoolOwen commented on #133
I will have a go at setting up the vscode launch tomorrow.

[2017-04-02 12:30] LiverpoolOwen commented on #133
I have just sent a pull request with the launch files. As for the
`EventSource's response has a MIME type ("text/html") that is not "text/event-stream". Aborting the connection.`
I am not sure what is causing this at the moment but it does this in production mode in visual studio also so we can probably close this thread.

[2017-04-02 12:40] LiverpoolOwen commented on #61
Did this get done?

[2017-04-02 13:02] consigliory opened #139 "components templates not included"
Hi, Mark
trying to sync to use latest and greatest (new webpack config and angular 4) but if fails to use html templates. it trying to get it over http without success. before templates was included in build.
Unhandled Promise rejection: Failed to load navmenu.component.html ; Zone: <root> ; Task: Promise.then ; Value: Failed to load navmenu.component.html
    //templateUrl: './home.component.html

[2017-04-02 15:17] LiverpoolOwen commented on #60
Do we want the User API back? I have readded it locally and seems to be working

[2017-04-02 15:46] MarkPieszak commented on #60
Yeah why not! It'd be nice if it aphasia all the contributors in it too 👍🎈

[2017-04-02 15:59] MarkPieszak commented on #139
This line here is what gets it working:
https://github.com/MarkPieszak/aspnetcore-angular2-universal/blob/master/webpack.config.js#L19

The angular2-template-loader, is that missing for you perhaps?

[2017-04-02 16:00] MarkPieszak commented on #133
🎈 great job! Closing.

[2017-04-02 16:00] #133 closed

[2017-04-02 16:02] neilgibert1234 opened #143 "Missing Bootstrap4 and ng2-bootstrap"
Apologies if i have got this wrong but looking in the package.json it's still using bootstrap 3. I also can't find ng2-bootstrap in the package.json file.

My package.json shows  - "bootstrap": "^3.3.7"

[2017-04-02 16:09] MarkPieszak commented on #143
Yeah we need to add back in the demo of ng2-bootstrap, you're totally right! It's still in the git history so super easy fix 👍

Thanks for reminding me though, almost forgot!

[2017-04-02 17:07] LiverpoolOwen commented on #143
Is ng2 bootstrap better than ng bootstrap?

[2017-04-02 18:54] neilgibert1234 commented on #143
I would say so... they seem to update and clear issues quicker. I also find the documentation on the site easier to follow.

On 2 Apr 2017, at 18:07, Owen <notifications@github.com<mailto:notifications@github.com>> wrote:

Is ng2 bootstrap better than ng bootstrap?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/MarkPies

[2017-04-02 19:06] consigliory commented on #139
thanks for quick response. I do have this line in config.
it works only if I use template: require('./home.component.html')

[2017-04-02 19:24] MarkPieszak commented on #139
It must not be installed maybe? Is it in your package.json as well?

[2017-04-02 19:29] MarkPieszak commented on #143
They're both great I've just been more familiar with ng2bootstrap.

[2017-04-03 10:11] pjmagee opened #144 "import from "app-shared" barrel no longer working"
I was using the old template with the tsconfig file to have barrels for various services (injected into angular components and other services etc) however these no longer work. I also noticed this is removed from the new Angular4 template. Should this approach still work? I have to fully define the paths separately now.

[2017-04-03 10:34] pjmagee commented on #144
Ah, I had to update my tsconfig file with a root directory for the paths.

[2017-04-03 11:00] MarkPieszak commented on #144
Glad you got it working!
Does webpack handle the script aliases automatically now? Check to see if it's able to bundle them correctly.

I previously had a helper function help insert them all: https://github.com/MarkPieszak/aspnetcore-angular2-universal/blob/old-2.x-universal-branch/src/Angular2Spa/webpack.config.js#L124 (The setTypescriptAlias method here)

[2017-04-03 12:39] pjmagee commented on #144
Actually, I thought I solved the problem but soon realised it still wasn't picking up the barrels. I think we might still need this helper you have in the new Angular4 Template! ...checking it now

[2017-04-03 12:51] pjmagee commented on #144
What I don't understand is why it isn't picking up the default `tsconfig.json` configuration...there is a Config plugin you can use with `awesome-typescript-loader` to load in a specific tsconfig file, but i don't see how that would fix the problem.

[2017-04-03 13:03] pjmagee commented on #144
Hmm, from `awesome-typescript-loader`...

[2017-04-03 13:20] pjmagee commented on #144
Yep. I had to include your original method to get the barrels to work.

[2017-04-03 14:12] MarkPieszak commented on #144
Yeah the alias's can be entered manually, or in my case I just loop through the tsconfig and add them into the resulting webpack config object, just incase you add new `paths: []`, so you don't have to enter it in multiple places!

I'll have to double check whether ts paths work with AoT.

[2017-04-03 23:25] pjmagee commented on #144
I'm assuming we'll be adding this back in as part of the new template then.

[2017-04-03 23:28] pjmagee opened #146 "Server side requires absolute url for http request?"
This isn't particularly an issue with the template, but since I see you are working with the Nodejs and JavascriptServices side for the ASPNET prerendering, i figured i'd ask the question here. What is the best way to get a full current domain so i can prefix it to existing api calls that are relative?

[2017-04-04 01:18] MarkPieszak commented on #146
I was actually adding that into the project just earlier didn't get a chance to commit it just yet.
There are multiple ways though, but basically from either the boot-server, we can pass in the APP_BASE_HREF, or another Service we use for Http, there's many options like that. But we can pass params.origin into that and utilize it.

I'm on an iPad but I'll try to get the PR in so you can see what I

[2017-04-04 01:19] MarkPieszak commented on #144
Yeah as long as it works for AoT I'll add it back in no doubt!
Sorry in a bind getting everything together before ngConf 🙈

[2017-04-04 02:06] MarkPieszak commented on #122
Finished via #148

[2017-04-04 02:06] #122 closed

[2017-04-04 08:21] kannan2106 opened #149 "client side code not working (current updated code)"
current updated code - server side code (prerendering) working fine. but client side code not working. it show "jquery.js" is missing. so everytime calls serverside when click any menus.
![error](https://cloud.githubusercontent.com/assets/22908062/24647762/ca8b577a-1953-11e7-9f88-580e48fb1f57.PNG)

[2017-04-04 10:13] pjmagee commented on #146
That would be great! I'm currently in the process of migrating to Angular4 and we were heavily relying on the original template this repo provided. But I've been keeping an eye on this repo and making changes accordingly.  👍  Thanks for all the work thus far, it's been really helpful.

[2017-04-04 10:35] pjmagee commented on #149
Did you include the Jquery inside WebPack? when the template got migrated from the Angular2 to Angular4 Template the Webpack file had a lot of  the noise removed and commented back out again. Its probably still commented out in `Webpack.vendor.js`

[2017-04-04 11:24] MarkPieszak commented on #149
Just added https://github.com/MarkPieszak/aspnetcore-angular2-universal/commit/372ceebb629fcf0e750ab402b7cc31261abe3016 can you see if that fixes it? Might of been my fault I was having strange issues with the SignalR last night !

[2017-04-04 11:25] MarkPieszak commented on #146
Glad to help! I know it's been changing a lot, think it got more confusing than helpful after a bit, wanted to keep it at least a little simpler this time around.

It's already confusing enough sometimes right :) haha

[2017-04-04 17:30] AmrineA opened #150 "JavaScript Error when using IE: Unable to get property 'apply'"
![image](https://cloud.githubusercontent.com/assets/6352189/24670045/9b41d12e-193a-11e7-94ab-8782d3b4392d.png)
When trying to run the default application, I get the error seen above. Using Chrome, this error doesn't show. From the research I've done, it appears that .apply() is not available in IE and needs some sort of shim to work properly. I've tried some of the suggestions, but haven't been ab

[2017-04-04 18:21] consigliory commented on #139
at any case - plugin is installed but for some reason did not work. I changed to user webpack require which works just fine. Thanks for your work. It is super helpful and your quick responses is really impressive.

[2017-04-04 18:38] MarkPieszak commented on #150
What version of IE?
I just made a major major update #151  (we now have AoT support and bunch of other things).

Can you wipe out the project and get latest?

Inside `/Client/polyfills/` you'll see `polyfills.ts` this is similar to the one found in Angular-CLI for example.
You'll see some comments about providing shims for older browsers, you'd want to uncomment out a bunch of those `core-js/**` l

[2017-04-04 18:40] MarkPieszak commented on #143
I'm going to keep it at Bootstrap 3 (just for older browser support) but you could upgrade it yourself pretty easy, latest PR just added bootstrap SCSS (so it's themeable) & ng2-bootstrap back in.

[2017-04-04 18:42] MarkPieszak commented on #10
Merged in, big changes to structure, it was time to really clean things up there. #151

[2017-04-04 18:42] #10 closed

[2017-04-04 18:42] MarkPieszak commented on #92
Merged in, we now have Bootstrap with SCSS built-in :)
ng2-bootstrap again as well!

[2017-04-04 18:42] #92 closed

[2017-04-04 18:43] MarkPieszak commented on #61
This is already done, but the styles aren't shining through, think that's based on another issue.

[2017-04-04 18:43] #61 closed

[2017-04-04 18:44] MarkPieszak commented on #146
Done via #151

It's passed down into APP_BASE_HREF through the server (params.origin).

Check out the Rest demo (/users) for an example useage :+1:

[2017-04-04 18:44] #146 closed

[2017-04-04 18:44] #143 closed

[2017-04-04 18:44] AmrineA commented on #150
Thanks, I'll pull down the latest, take a look and report back.

[2017-04-04 18:45] MarkPieszak commented on #139
Just made some major changes via #151 (we now have AoT, bootstrap SCSS & ng2-bootstrap)
Can you give it a try now? I'll close this out for now but let me know if it still isn't working I can try to take a look. Couldn't repro it though :(

[2017-04-04 18:45] #139 closed

[2017-04-04 18:46] MarkPieszak commented on #149
This should be fixed now, but let me know if it needs to re-opened!

[2017-04-04 18:46] #149 closed

[2017-04-04 18:46] MarkPieszak commented on #134
There have been major project changes via #151 let me know if this is still an issue, I need to actually run through some tests to see how Azure deployment is going to work now that we have AoT and a few other big things added today.

[2017-04-04 18:46] #134 closed

[2017-04-04 18:48] MarkPieszak commented on #112
Come via `4.1+` there will be an easier way to handle this. (State transfer method).

I'll leave this open as I haven't added HttpCacheService back in to see if it is still broken!

[2017-04-04 18:52] MarkPieszak commented on #89
This has been removed for now, I might look into re-adding the dashboard in the future.

For now it caused so much headache before I'm afraid to even try again :cry:
We'll see though, trying to knock out the bigger fish at the moment!

[2017-04-04 18:52] #89 closed

[2017-04-04 18:53] MarkPieszak commented on #125
So now that we're above TS 2.2+ can you take another look?

I'll close it out but let me know if we need to revisit it! Thanks :+1:

[2017-04-04 18:53] #125 closed

[2017-04-04 18:56] MarkPieszak commented on #144
So the problem is, they don't work will AoT compilation just yet :(
You can see the issue here: https://github.com/angular/angular/issues/13008

If they become available then we can definitely add it back in, but for now we can't since AoT is huge for Prod :(

[2017-04-04 19:03] MarkPieszak opened #152 "Glyphicons aren't loading properly through bootstrap-sass"
Good first time contributor issue here as well :+1:

Icons path is 404'ing

For other good ones, [go here](https://github.com/MarkPieszak/aspnetcore-angular2-universal/issues?q=is%3Aissue+is%3Aopen+label%3A%22PRs+welcome%21%22)

[2017-04-04 19:18] AmrineA commented on #150
I've pulled down the latest, uncommented those lines in polyfills and tried running it. I'm getting completely different errors now:
![image](https://cloud.githubusercontent.com/assets/6352189/24674540/cb1ed7b6-1949-11e7-948b-2b57a8ac1f07.png)
After hitting F5 a couple of times:
![image](https://cloud.githubusercontent.com/assets/6352189/24674558/d9b723fa-1949-11e7-8b6b-c47f3b748e79.png)
I forgot

[2017-04-04 20:09] MarkPieszak commented on #150
It's gone now actually. I'll probably bring something similar back but it won't be so manual of a process.

Can you wipe out both the dist folders and do the below, just to see if anything is acting up?

    npm run build:dev -- --verbose

[2017-04-04 20:36] rphilp commented on #150
I think the issue is that node-sass and sass-loader are missing from package.json. I just installed them and then it worked.

Just to confirm the fix for this issue. Removing the comments for the IE9-11 imports does work.

Next time slow down with the fixes. :)

[2017-04-04 21:58] consigliory opened #153 "how to make docker image on mac"
hi. do you have any suggestion how to make docker image on macos? I used to have
FROM microsoft/dotnet:1.1.0-sdk-projectjson

RUN apt-get update
RUN wget -qO- https://deb.nodesource.com/setup_4.x | bash -
RUN apt-get install -y build-essential nodejs

COPY . /app

WORKDIR /app

RUN ["dotnet", "restore"]
RUN ["dotnet", "build"]

EXPOSE 5000/tcp

CMD ["dotnet", "run", "--server.urls", "http://*:5000

[2017-04-04 22:07] MarkPieszak commented on #153
Might be because of the top FROM line maybe?

You want 1.1-sdk I believe. I don't do much docker but something like this might work?

[code]

[2017-04-04 22:11] MarkPieszak commented on #150
NgConf tomorrow 🙈🎁 had to get it ready and you're right I had those installed but not saved.
Want to make a quick PR to add them in the dependencies? @rphilp

[2017-04-04 22:36] rphilp commented on #150
I believe I dropped the PR with the dependencies. First time doing that though so apologies if I messed it up.

[2017-04-04 23:27] MarkPieszak commented on #150
Don't see it @rphilp
It's ok I can add it in there

[2017-04-05 00:17] #150 closed

[2017-04-05 02:07] kannan2106 commented on #149
hi..current version webpack.config.vendor.js is missing. is it no more need webpack.config.vendor.js? Now project running but its shows some error. please find attached screen(vendor.css not found).
![error](https://cloud.githubusercontent.com/assets/22908062/24686612/922d2586-19e7-11e7-80dd-42628588f611.PNG)

[2017-04-05 02:11] MarkPieszak commented on #149
Yeah there's an open issue to fix the sass glyphicons, and for right now vendor isn't separated manually, going to add a way for it to be created automatically 🎈
Hold tight more updates to come 🎁

[2017-04-05 02:19] kannan2106 commented on #149
ok am waiting...thanks :)

[2017-04-05 10:21] hakonamatata opened #154 "Error when publishing to Azure, cannot find webpack.config.vendor.js"
The latest master work fine locally, but I get a couple of errors when I attempt to publish to Azure:

[code]

[2017-04-05 10:47] MarkPieszak commented on #154
Thanks for testing that out! Yeah the publish commands need to be updated, especially to use build:AoT and such. Also need to get the HomeController to be flexible enough to call main.server.aot as well.

[2017-04-05 13:04] #111 closed

[2017-04-05 13:37] MarkPieszak commented on #154
I think we want this configuration for Azure deployments:

[2017-04-05 19:18] rfuhrer commented on #154
I pulled down the latest which has the csproj changes and tried a deploy to azure.  Here's what it spit out for me:

[code]

[2017-04-05 23:08] GreenAirplane opened #156 "AoT (server step): Property 'apply' is missing in type 'NgModuleFactory<ServerAppModule>'"
I'm receiving an error with build:aot when building for server:

[code]

System info:
[code]

[2017-04-05 23:38] MarkPieszak commented on #154
Fixed https://github.com/MarkPieszak/aspnetcore-angular2-universal/commit/56be3f4a061449d374eef9848933d2c7acd69e6a

[2017-04-05 23:38] #154 closed

[2017-04-05 23:38] MarkPieszak commented on #156
Fixed just now :)

https://github.com/MarkPieszak/aspnetcore-angular2-universal/commit/56be3f4a061449d374eef9848933d2c7acd69e6a

[2017-04-05 23:38] #156 closed

[2017-04-06 17:30] danielnajera opened #157 "<html>< Styles issue"
When running using SSR,  ViewData["Styles"] = prerenderResult.Globals["styles"]; in the Index controller value is set to "<html><".  Generating "<" at the top of page upon rendering.  commenting out the     @*@Html.Raw(ViewData["Styles"])*@ in the view layout page temporarily fixes issue.

[2017-04-06 21:56] borgotecnologia opened #158 "Request and response to do some tasks: for exemple: this._cookieService.get(key)"
Doubt: How can I use request and response, if is possible, how would inject that. By the way,  we had two functions in the client and two in the browser respectively:

export function getRequest() {
  return {};
}
export function getResponse() {
  return {};
}

export function getRequest() {
  return Zone.current.get('req') || {};
}
export function getResponse() {
  return Zone.current.get('res')

[2017-04-06 22:01] MarkPieszak commented on #157
Are you using the latest from Master? I can't see this one on Mac/windows.
Is this from a fresh repo pull down or with modifications?

[2017-04-06 22:03] borgotecnologia opened #159 "Redirect 301 for seo"
Is it possible identify if the google links are wrong and make a redirect 301 or 302 on the server?
Previously without dotnet javascript service  I did in the node like :

constructor(
        @Inject('response') private _response: any,
       @Inject('isNode') private _isNode: boolean
)
{}

public redir301(location: string): void {
        if (this._isNode) {
            this._response.redirect(3

[2017-04-06 22:15] mosswgreentea opened #160 "Error running the 'npm test' command"
I've downloaded the repo and am running through it. While executing the 'npm test' command, I saw an error and realized that the path specified in package.json ('Client/test/karma-conf.js') is not found. The 'test' sub-folder does not exist. Also could you include a few unit tests in the repo?

[2017-04-07 00:13] markphillips100 opened #161 "vendor.css not created"
I've just tried running as per the instructions and whilst the app launches in the browser after hitting F5 I get 404 for vendor.css and glyphicons.woff/woff2/ttf resources.  Looking at the webpack I can't see how the vendor.css is ever created.  Is it perhaps that there's no webpack vendor config in the repo anymore?

[2017-04-07 07:32] manijak commented on #104
Hi @MarkPieszak, will there be a new template any time soon, or can we just download directly from master?

I used the current template and it installed the "old" structure with angular 2.x.

[2017-04-07 12:34] MarkPieszak commented on #104
I was hoping to finish out a few more issues & improvements and I wanted to post it on `dotnet template` yeah :)

For now if you want to at least start playing around with it, you can just pull down from Master, I'll have it in better shape soon!

The improvements I'll be making would be outside of the `/Client` folder at this point anyway.

[2017-04-07 14:50] novopashinmm opened #162 "The program "[6536] dotnet.exe" exited with code -2147450749 - vs2017"
I open project in vs2017. Press F5. Wait while download all and then I get message
"The program "[6536] dotnet.exe" exited with code -2147450749 (0x80008083)"
What I can do? Please, help.

[2017-04-07 14:51] novopashinmm commented on #162
![image](https://cloud.githubusercontent.com/assets/7537491/24805550/d8bf63cc-1bba-11e7-9128-e20948235b9b.png)

[2017-04-07 16:18] MarkPieszak commented on #162
Do you have the latest version of VS2017 and everything?

[2017-04-07 16:20] MarkPieszak commented on #160
I need to reconfigure that I moved them out of the Client folder on accident :)
PRs welcome!
It's just pointing to the incorrect file.

[2017-04-07 16:22] MarkPieszak commented on #162
Check this comment as well:

Might have to uninstall older versions of dotnet sdk if you have them

[2017-04-07 16:23] petarld commented on #161
I am experiencing the same issue as @markphillips100, seems that webpack.vendor.config is missing.

Great project so far!

[2017-04-07 16:30] Ketrex commented on #162
Adding a global.json file to the root of the project will fix this and ensure the correct SDK is used every time. dotnet core is designed to allow for multiple runtimes and SDKs to run side-by-side.

Without global.json, it will utilize the default CLI referenced SDK.

@MarkPieszak , want a PR for this?

[2017-04-07 16:31] MarkPieszak commented on #162
Sure if you can Ketrex! I thought there was a global file, interesting.
https://github.com/MarkPieszak/aspnetcore-angular2-universal/blob/master/global.json

Is it something different than that file?

[2017-04-07 16:50] mosswgreentea commented on #160
After modifying the path to the correct path, the test execution is still failing. I'll submit PR shortly.

[2017-04-07 16:50] mosswgreentea commented on #160
Sorry, I had closed issue accidentally.

[2017-04-07 16:59] Ketrex commented on #162
@MarkPieszak, whoops, should have taken a closer look, not sure how I overlooked the fact that it's already there.

The SDK version specified in the current global.json is 1.0.0, the latest version of the SDK is 1.0.1. I'm not sure which one you intend to target.

I suspect the problem was that they had an earlier, beta version of the SDK and not the actual 1.0.0 release. dotnet core will fallback

[2017-04-07 17:02] MarkPieszak commented on #158
You'll have to pass down whatever things you want specifically:
In the HomeController just pass down some Custom_data (with whatever you want in it)

[code]

In your main.server & main.server.aot add a provider for it, you can pull data down from `params.data`.
Make a `new InjectionToken<string>('COOKIES');` for it, you'll have to `@Inject('COOKIES') string cookies` in your app to get them.

[code

[2017-04-07 17:14] MarkPieszak commented on #158
In general I want to clean that up, I think if params is passed to the aspnetcoreEngine I could just by default pass cookies and a few basic things that are common, and provide them.

I need to fix transfer data as well.

[2017-04-07 17:21] mosswgreentea commented on #160
I'm not having permissions to push changes. This was the only change I made in the 'package.json':
"test": "karma start karma.webpack.conf.js.

[2017-04-07 17:31] MarkPieszak commented on #160
You need to fork the repo and create a PR from there if you wanted to add it otherwise I can change that no worries! Thanks for letting me know!

[2017-04-07 17:34] MarkPieszak commented on #161
This is my fault, the upgrade from 2 -> 4, AoT and all the SEO stuff I started out with it being very minimal I need to add some of those things back in, or if anyone else wants to take a crack at it!
Glad you're enjoying it so far ! @petarld 🎁🎈

[2017-04-07 17:35] rphilp opened #163 "Routing Resolver not working"
Trying to wire a resolve statement on a child route and I was getting these zone/injection errors: I tried simplifying it and putting it on the counter path built in and I was getting the same error:

To keep it simple, they are in the same file, so I do not think injection is the issue. I also have another example more complicated that has the same error and it works in other projects.

[code]

[2017-04-07 17:53] MarkPieszak commented on #163
Is it possible that it's because it doesn't have `@Injectable()` on top of the Resolver?

[2017-04-07 18:26] rphilp commented on #163
My apologies, it was there I just forgot to put it on a new line (after the ticks). I've updated the first post with it, but here it is again.

[code]

[2017-04-07 18:54] MarkPieszak commented on #163
You said this was working in other projects, were those angular2-universal or platform-server projects with Node, or regular CLI / angular apps?

[2017-04-07 18:56] MarkPieszak commented on #159
You'd have to have some kind of a Service triggered when a 404 comes, and in your main.server file, when you get your Html result etc, you'd probably want to return something else instead... maybe a StatusCode / etc. Then in your HomeController look to see if that statusCode is there, and do a server Redirection (instead of rendering the angular app client-side 404).

Hope that helps! Let me know

[2017-04-07 19:02] rphilp commented on #163
They were not Angular2-Universal apps. It was a regular Angular2 app with a dotnet backend.

I'll see if I can test it elsewhere and report back.

[2017-04-07 19:07] MarkPieszak commented on #163
It may be something we hadn't considered / tested with platform-server, this could potentially be a bug.

[2017-04-07 20:28] rphilp commented on #163
Appears to work on the base route. I apparently missed adding it as a provider in the example I tested it on earlier. Running into child view issues so still testing that.

[2017-04-07 20:34] hheexx commented on #159
I used Meta servise to set meta tag with http response code.

Then I parsed it from asp and set in in response.

[2017-04-07 20:49] MarkPieszak commented on #163
I will definitely have to add some child lazy-loaded stuff here so people follow best practices (as well as test to make sure it works without a hitch). If you find anything out let me know!

[2017-04-07 22:52] rphilp commented on #163
I used [Angular Router](https://angular.io/docs/ts/latest/guide/router.html) CrisisCenterModule as a test and I think I have everything working now.

I was unable to get it working with the NgModule that it uses in the demo though. I had to import everything manually to get it working. That may go along with what you just mentioned about the child lazy-loaded stuff.

Thanks for everything with thi

[2017-04-08 00:54] markphillips100 commented on #161
I'll fork and take a look

[2017-04-08 11:00] markphillips100 commented on #161
Is vendor css even required with the current setup as app.component.scss is referencing bootstrap scss? For some reason though sass and css loader do not appear to pack the glyphicon fonts so they result in 404s

[2017-04-08 11:04] markphillips100 commented on #152
The paths are missing a / in the app.component.scss but regardless I couldn't get the resources to pack

[2017-04-08 14:14] MarkPieszak commented on #161
Yeah I don't know why they aren't packing them and including them normally. Bootstrap import there seems to do the job, but it doesn't grab everything else. This is a super bizarre and common bootstrap-sass issue, always seems to be 20 ways to fix it...

[2017-04-09 06:34] #152 closed

[2017-04-09 10:10] Gaulomatic opened #165 "HMR not working?"
I have problems with the updated version since splitting the monolithic webpack.config into multiple files. HMR seems to be broken. I say "seem" because I am clearly no expert on WebPack, but I had to revert my project back to the last version I pulled a few days ago. Here is what I get:

<img width="1394" alt="bildschirmfoto 2017-04-09 um 10 46 06" src="https://cloud.githubusercontent.com/assets/

[2017-04-09 15:46] MarkPieszak commented on #165
Apologies for that, webpack can definitely be a bit much sometimes but it gets easier with time no worries!
Do you have the env variable set?

If you're running the project from command line with dotnet run make sure you set your environment variables to Development (otherwise things like HMR won't work).

[code]

That's strange though, you're saying this is happening when just hitting F5 from eve

[2017-04-09 15:54] MarkPieszak commented on #63
@johnkattenhorn @abrarjahin
https://github.com/MarkPieszak/angular-application-insights if you haven't seen it, we went 2.0 with the library, works with Angular 4+ and AoT now. Let me know over there if any issues come up for you guys!
🎈

[2017-04-09 15:57] Gaulomatic commented on #165
Yes, I have exported the variable before running `dotnet run` and it happens after F5'ing as well. If I plug in the old WebPack config / application structure it replaces the modified modules fine. I would like to investigate it further on my own, if I could, but I just switched from SystemJS to WebPack, so yeah.. It get's better over time. But I am still to noobish to solve this behavior by mysel

[2017-04-09 19:20] novopashinmm opened #166 "Prerendering failed because of error: Cannot find module '..\aspnetcore-angular2-universal\Client\dist\main-server'"
Hi!

Previous error was on the work, there maybe not installed last version vs2017.
And I decide run this project in my own computer. Install latest vs2017 15.1 (26403), npm 4.1.2, node 7.5.0.
Get this error, when running project and go to localhost:5000/. Please, help.
![image](https://cloud.githubusercontent.com/assets/7537491/24840252/71d2a052-1d72-11e7-9d1e-9b48d846aa6a.png)
![image](https://c

[2017-04-09 21:38] Gaulomatic commented on #166
Did you try to `npm install` and `npm run webpack`? If there are any errors related to node or webpack you will see them in the console. You can try to run it in VS by F5'ing it as well.

[2017-04-09 22:07] MarkPieszak commented on #166
Try running npm run build:dev to build them first

[2017-04-09 22:57] rphilp commented on #166
If `npm run webpack` doesn't work (no webpack installed error), try `npm run build:dev -- --verbose`. Learned that little trick from Mark in an earlier post.

[2017-04-09 23:08] markphillips100 commented on #166
Are the webpack scripts supposed to run automatically on hitting FT or
should the readme be updated?

On 10 Apr. 2017 8:57 am, "rphilp" <notifications@github.com> wrote:

[2017-04-09 23:14] rphilp commented on #166
In the past it was run after npm i. Looks like the post install was changed.
Old:
[code]
New:
[code]

Short term, add the `"postinstall": "npm run build:dev",` line in there and npm i should kick off the dev build.

I'll see if I can finally figure out how to submit a PR for that and the IE Shims.

[2017-04-10 03:07] MarkPieszak commented on #166
I removed it mainly because of Azure builds (or other cloud / production builds), having a Dev webpack build after just makes things take longer since we want it to build:AoT to get the prod bundles. Otherwise it was great in postinstall, wish postinstall had hooks for dev / prod modes.

Think we should just updated the readme to say install && npm run webpack for now, you're right.

[2017-04-10 03:16] #166 closed

[2017-04-10 03:20] AbrarJahin commented on #63
Sure.

Thanks @MarkPieszak 🥇

[2017-04-10 04:50] dev-siberia opened #168 "build:dev problem"
E:\DOCUMENTS\Visual Studio 2017\Projects\aspnetcore-angular2-universal\webpack.config.js:7
const **{** getAotPlugin } = require('./webpack/webpack.aot');
______^
SyntaxError: Unexpected token {
    at exports.runInThisContext (vm.js:53:16)
    at Module._compile (module.js:373:25)

Node,js 6.10.1 x64 version., vs2017.

[2017-04-10 05:12] dev-siberia commented on #168
The problem was on the way to npm in the visual studio. The first one was "$(VSINSTALLDIR)\Web\External". I chose the first" $(PATH)"
![vsnpmfirst](https://cloud.githubusercontent.com/assets/15089615/24846752/dd7067ee-1de6-11e7-9aa2-c533321fc198.JPG)

[2017-04-10 05:12] #168 closed

[2017-04-10 06:26] MarkPieszak commented on #168
Yes! It's quite strange VS comes with its own version of Node and by default uses it over the globally installed one. Glad you got it working 👍

[2017-04-10 10:34] aaronmarisi commented on #165
I haven't tested it but I noticed this was commented out - might want to try uncommenting: https://github.com/MarkPieszak/aspnetcore-angular2-universal/blob/master/Client/main.browser.ts

[2017-04-10 11:42] consigliory opened #169 "server render time takes too long."
with angular 2.4.5 server render took less then 130ms. Recently I upgraded to 4.0.0 and now it takes    2.5 seconds and more. Any ideas what went wrong?!

[2017-04-10 14:12] borgotecnologia commented on #158
Hello, Mr. Pieszk.

I tried to apply your model to cross data between server and client and I had some troubles.
I configured the custom-data, and main.server & main.server.aot like your example.
This custom-data I need to use in server and client.
But I can't get this data in the client . How can I get this custom-data in server and client ways?
When I tried to inject this provider in browser.app

[2017-04-10 17:21] MarkPieszak commented on #158
I have a few nice updates coming to the aspnetcoreEngine and I'll be adding the TransferData class back in later tonight. I'll explain how you transfer data / state from server to browser when I push it up, sorry for the delay. I knew I forgot to add something crucial the other day 😀

[2017-04-10 17:24] MarkPieszak commented on #169
Yikes that's an enormous jump! Is this from a fresh pull down of this Repo here?
I haven't seen times like that, I was seeing around 150-200ms I believe (with all the things his repo has).

Do you have any very long Http processes, setTimeout / setIntervals or Rx timeouts intervals in your code? Any of those could delay it as well.

[2017-04-10 17:31] MarkPieszak commented on #165
That might be a part of it 🙈
So many moving parts and upgrades to this, we were lacking many SEO and AoT benefits in the previous version, but we're almost at the finish line 🚦👌
Let me know if that does the trick @aaronmarisi !

[2017-04-10 17:57] consigliory commented on #169
there is only one http request for /home and it makes no difference if I remove it.  The only diff I can think of is, after update (pull and merged latest from spnetcore-angular2-universal) there was issue with webpack html loader so I replaced templateUrl with template: require(''). Could it be the issue?

[2017-04-10 17:58] Gaulomatic commented on #165
Uncommenting the lines works, with a modification. Instead of:

`modulePromise.then(appModule => appModule.destroy());`

I looked at the old file and changed this back to:

`platformBrowserDynamic().destroy();`

I don't know if this has implications, if not I will create a PR.

[2017-04-10 18:15] hheexx commented on #169
I also have prerendering time in order of 2000-3000ms.
But I have heavy nginx cachging in front of app so it's not terrible.
I have one http call that takes arround 100-200ms.

my node bundle is still on JIT. Does that mean it is compiled for every request ?
I can't manage to implement AOT as I can't reference .ngfactory module in genDir. I receive module cannot be found error.

[2017-04-10 18:20] hheexx commented on #165
I also commented out HMR for AOT compilation because of that.

I have not done it like you because as I thought platformBrowserDynamic() would create new instance of that class. Or it returns same reference?

[2017-04-10 18:21] hheexx commented on #165
I don't see why ngtools does not support providing it with 2 boot files - for aot and jit.
This file rewriting thing is not working great for now.

[2017-04-10 18:32] MarkPieszak commented on #169
JIT means it compiling for every request yes.
The new engine will accept both, but it automatically compiles JIT ngModules to AoT, but of course in prod you'll always want to supply the AoT one.

I'm not sure and not by a computer at the moment I could check a few things tonight @consigliory but I don't see why that would slow it down to that magnitude.

[2017-04-10 19:13] consigliory commented on #169
there is no file at . './ngfactory/app/server-app.module.ngfactory'. it looks like it should be generated but it is not. How can I generate it?

[2017-04-10 19:46] novopashinmm commented on #166
I execute in cmd "npm run build:dev" and get it.
![image](https://cloud.githubusercontent.com/assets/7537491/24879409/7d5bb828-1e3f-11e7-82e2-1eef8a254732.png)

[2017-04-10 19:52] novopashinmm commented on #166
I do how wrote there "npm rebuild node-sass --force" and project is running.
![image](https://cloud.githubusercontent.com/assets/7537491/24879676/504fd700-1e40-11e7-83b9-d81e6efbc349.png)
Only one fail happened.
![image](https://cloud.githubusercontent.com/assets/7537491/24879696/5d9dc5ca-1e40-11e7-969d-73d47cb81c70.png)

[2017-04-10 19:53] Gaulomatic commented on #166
SASS is a little princess, but this is simple. VS is using Node 5.x internally and you have Node 6.x or 7.x installed. Let VS use the Node Version you have installed. Go to

`Tools -> Options -> Projects and Solutions -> Web Package Management`

and paste the path of you installation directory in. Make sure that it is on top of `$(VSINSTALLDIR)\Web\External`. In my case (sorry for my German VS) it

[2017-04-10 19:58] consigliory commented on #169
back to AoT it is all great but your previous project setup was able to render same code in 120ms. Looks like somehow templateUrl and require('..') have some difference and changing back to templateUrl it improved from 2.5 sec to 1.1 second. but it still huge difference

[2017-04-10 20:48] hheexx commented on #169
I don't think 120ms render time for JIT is possible for any non trivial app.
I could not hit <500ms bootstrap time in browser with JIT with all cached using service worker.

[2017-04-11 03:51] kannan2106 opened #170 "two times loading issue - Server doing Http then Client doing it again"
run your project and refresh this url "http://localhost:65060/users". its loading two times (server side and client side). how to avoid the second time loading?

[2017-04-11 06:58] MarkPieszak commented on #170
I've been swamped but I'll be posting the cache transfer story / example shortly. Apologies for the delay

[2017-04-11 08:29] nstohler opened #171 "[feature request] SignalR publish updates from server"
I want to push some real-time data from the server to the connected browsers using SignalR. I have a working solution that uses Firebase, but I would like to switch it to SignalR. It would be great if the chat example could be extended like that.

[2017-04-11 10:59] hakonamatata opened #172 "meta data added twice"
Hi

So everything is working great, but I am getting a strange bug. The meta data is added twice.

Here is an example of how it looks:

[code]

Do more people experience this issue?

[2017-04-11 12:18] hheexx commented on #172
In this file:
https://github.com/MarkPieszak/aspnetcore-angular2-universal/blob/master/Client/polyfills/temporary-aspnetcore-engine.ts

Disable this:
const STYLES_STRING

And enable code in:
Broken after 4.0 (worked in rc)

Return STYLES.join(' ') from function (like meta nad link)

The commented out code is marked broken by @MarkPieszak but it works for me without issues.

[2017-04-11 12:24] hheexx commented on #170
I see that as a feature :)

What I am doing is heavily caching prerendering output.
So users get little stale data very fast and app then grabs fresh data using ajax and updates it.

Works great for me!

[2017-04-11 13:20] pmdauv opened #173 "Unable to add a new feature module"
Hi.
I'm new in angular development app. I'm implementing an app by using *NEW* Angular 2+ Universal & ASP.NET Core Advanced Starter. When I add a new feature module, there are issues from the main-server.js file like this one:
« Exception: Call to Node module failed with error: ReferenceError: document is not defined
at DefaultDomRenderer2.selectRootElement.
(C:\Workspace\Developments\WebApps\New\

[2017-04-11 14:35] hakonamatata commented on #172
Thanks, followed your instructions, but get the exact same result :confused:

[2017-04-11 15:36] pjmagee commented on #173
Have you run webpack? This should be triggered as a part of the `> dotnet publish`

[2017-04-11 15:53] hheexx commented on #172
Are you sure ?
problem for me was that STYLES_STRING cuts response string in angular between first <style> tag and last </style> tag.
But angular outputs <meta> tags in between those <style> tags.

[2017-04-11 16:00] heqiao commented on #165
I uncommented those lines and it worked. But the bundle rebuild is very slow. 8s-10s. The previous version took 100-200ms.
Below is saving one small change in `home.component.ts`

![image](https://cloud.githubusercontent.com/assets/3125184/24918365/c4a20942-1ea5-11e7-9b32-b8f9a2c0f5fc.png)

[2017-04-11 16:05] Gaulomatic commented on #165
I think this is because the vendor stuff is now included as part of the normal bundle. In previous versions this was separated, but more complicated as well (from the configuration point of view). May be this could be considered to be re-implemented, at development time this saves "hours" - feels kinda :-)

[2017-04-11 16:35] MarkPieszak commented on #165
Oh definitely, vendor chunking will definitely be added back in! I'm hoping to have some free time Friday to spend a few hours finishing all the remaining issues/upgrades here. If anyone wants to take a stab at the vendor chunking feel free until then! Just make sure it works for AoT etc as well.
It's rebuilding everything yes, why it's a bit slow HMR right now 😓

[2017-04-11 16:37] MarkPieszak commented on #172
Link tags currently will be duplicated (only on the client side) if you're clicking around the app, but the SSR will only have 1.

Let me know if anything else is coming up!

[2017-04-11 16:40] MarkPieszak commented on #173
Yeah, try `npm run build:dev` to build the webpack dev bundles.

[2017-04-11 18:00] hheexx commented on #165
Can it be defined just as separate entry point or it must be in separate config file with dll plugin?
tree shaking should also be considered. I don't think it could be possible with dll plugin?

[2017-04-12 00:12] hheexx opened #174 "random http post failures from node"
From time to time i log http requests that fail from node.
I'm not sure if it's server-side problem but error object i receive is pretty empty.
How can it be empty? No status code?

[code]

[2017-04-12 01:37] dguisinger opened #175 "WebPack Errors after upgrading"
I upgraded my project to use your new code.

I am getting the following:
Uncaught ReferenceError: vendor_243a0387f5d4925254fb is not defined

at Object.<anonymous> (main-client.js:85)
    at __webpack_require__ (main-client.js:20)
    at Object.<anonymous> (main-client.js:49185)
    at __webpack_require__ (main-client.js:20)
    at Object.<anonymous> (main-client.js:25694)
    at __webpack_require

[2017-04-12 01:58] MarkPieszak commented on #175
Yes if you can delete it for now! It will be back eventually, but all of those changes will be cosmetic and exterior to your App itself. (Webpack files and webpack folder)

[2017-04-12 02:32] dguisinger commented on #175
Hmm, removing that file doesn't seem to have fixed my issue.  Any ideas?

[2017-04-12 02:55] MarkPieszak commented on #175
I'm not sure, how did you try upgrading?
There are a lot of big differences since the older 2.x version.
Even the browser/server modules / etc.

You might need to wipe out both your dist folders, there is no separate vendor right now (but there will be eventually).

[2017-04-12 03:20] dguisinger commented on #175
That fixed it, i cleared out the dist folder and noticed the js filename changed and had to change the name in the razor view.

Thanks

[2017-04-12 03:20] #175 closed

[2017-04-12 04:55] markphillips100 opened #176 "Dotnet publish incorrectly produces main.js"
Running npm publish completes successfully however a main.js file is produced instead of the expected main-server.js.  Consequently server-side prerendering fails to locate the file.

If we run "npm run build:dev" followed by "npm publish" the output will contain both main.js and main-server.js.  Importantly, the latter file is not the aot file I believe but it will be the file used in the prerend

[2017-04-12 05:03] MarkPieszak commented on #176
You never do an `npm publish` that's if you were publishing a library to **npm** :)

Maybe you mean `dotnet publish`?

[2017-04-12 05:09] markphillips100 commented on #176
yes sorry I meant dotnet publish

[2017-04-12 05:11] markphillips100 commented on #176
So basically this line "node node_modules/webpack/bin/webpack.js --env.aot --env.server" produces main.js rather than main-server.js

[2017-04-12 06:22] mcm-ham commented on #176
Just noticed this issue myself. Basically in web.config.js replace:
[code]
With
[code]
I next got an error related to zone.js, to fix just add `import 'zone.js/dist/zone-node';` to the top of `main.server.aot.ts`.

[2017-04-12 06:39] markphillips100 commented on #176
Yep that did the trick.  Thanks @mcm-ham

[2017-04-12 08:07] mcm-ham commented on #165
@heqiao Changing `devtool` in webpack.client.js to `cheap-eval-source-map` should speed the rebuild up a lot. It's currently set to `source-map` when I think the old version had it set to `inline-source-map`, in `webpack.prod.js` it'd be a good idea to set it back to `source-map` for publishing as eval is insecure. Here's more details:
https://webpack.js.org/configuration/devtool/

I still seem to

[2017-04-12 10:57] pjmagee commented on #144
This is sad. We have a couple of projects which heavily rely on the use of barrels. For now it should be possible for us to disable AoT and continue to use this template?

[2017-04-12 14:00] borgotecnologia commented on #158
I tried to do something like described here, but  I can't get window.customData in the browser version.

https://github.com/aspnet/JavaScriptServices/tree/dev/src/Microsoft.AspNetCore.SpaServices#server-side-prerendering

[2017-04-12 15:34] heqiao commented on #165
@mcm-ham Changing to `cheap-eval-source-map` does not gain me a faster rebuild. Still above 6 seconds.  I haven't tried replacing `@ngtools/webpack` though.

[2017-04-12 16:44] MarkPieszak commented on #165
We can set it up to do ATLoader and such for development and ng tools for prod, but it just ups the difficulty and maintability for most devs, as things now need to be added and maintained in more than one place.

Is that something we want though?

[2017-04-12 16:47] MarkPieszak commented on #158
I'm actually using Globals to pass all the meta data down, I have a working prototype for what we can use but it's on my laptop, hopefully tomorrow or Friday I'll have time and I can push it up for you!

[2017-04-12 16:52] MarkPieszak commented on #144
Yeah you could change a few things and get some things in that empty webpack prod config to just mini ft uglify things instead of using the env.aot flag for prod builds.

Yeah it's a major bummer, since it is native TS feel it'd help for it to be available to us with AoT as well. Although I do understand the complexity it creates for the compiler.

I'll ask around see if anyone knows if it's on th

[2017-04-12 16:53] MarkPieszak commented on #176
@mcm-ham thank you Michael! Would you like to add a PR so we can get that fix in for everyone?
Nice job, didn't notice that one 😓 👍

[2017-04-13 03:30] mcm-ham commented on #165
@heqiao Try changing webpack.server.js as well. Here are my numbers:

| Change | Reload Time |
| --- | --- |
| Only HMR re-enabled | 12 sec |
| Change client devtool to `cheap-eval-source-map` | 9 sec |
| Change client and server devtool to `cheap-eval-source-map` | 2 sec |

Turns out it was fast with my changes because I had disabled SSR, changing to `awesome-typescript-loader` instead of `@ngtoo

[2017-04-13 09:15] pjmagee commented on #144
Hey @MarkPieszak  someone replied to the comment left on the Angular repo essentially saying barrels are supported but there is one limitation with not being able to import from siblings within the same barrel by using the barrel alias name in an import statement, you have to give the actual path to the sibling.

[2017-04-13 14:23] heqiao commented on #165
@mcm-ham That does the trick! Down to 1 sec with a brand new copy of the repo. Thank you for the help! 😄

[2017-04-14 02:02] MarkPieszak commented on #144
Interesting really, well that's pretty good news so it works as long as you don't go crazy with barrel inception?

[2017-04-14 10:42] patrickgoeler commented on #169
Hey Guys,
I am currently redoing the website of the company I work for. I deployed the project to Azure, but when accessing the site it takes about 13 seconds till the server responds (Time to first byte)..
Any idea what the issue is? :) I have not had the chance to deploy it to a different server to see whether Azure is the problem.. Where would you deploy a website done with this project?
Thanks

[2017-04-14 11:32] #176 closed

[2017-04-14 11:36] MarkPieszak commented on #174
I was actually seeing this the other day, and it seemed to be happening when I didn't have a WiFi connection, but then once I did, everything worked perfectly fine. Not sure how that would have any affect on the Http calls or local host, but I never saw them again once connected. Very bizarre 🙈

Was this happening to you in a similar scenario?

[2017-04-14 11:37] #173 closed

[2017-04-14 11:42] MarkPieszak commented on #170
Not typically, but it always just depends on your Application, whether it's very dynamic in nature, or static etc.

Typically I only put those most important GET Http calls in HttpTransfer logic that reuses them on the client again, just to remove any flicker etc. if calls are very data intensive and take a long Ike to return the result I usually ignore them all together on the server render, and

[2017-04-14 11:42] curcas opened #178 "Building error"
I have the latest Node version (7.9.0) installed and installed all the node packages "npm install".
When I run the build afterwards with "npm run build:dev" I get the following error:

[code]

[2017-04-14 11:46] MarkPieszak commented on #169
@consigliory @hheexx so AoT is loading really fast just DevMode isn't right? JIT SSR is just very slow, but I have a big commit coming this morning that actually auto compiles your NgModule to AoT during a server render and caches it (so it doesn't have to keep doing that), this helps performance a lot. I saw 1-2 renders go down to 300-ish ms. Hopefully that'll solve the problem here !

The ngAspn

[2017-04-14 11:57] MarkPieszak commented on #169
@patrickgoeler Do you have some sort of timeout / interval / (extremely long Http) the server is waiting for? That doesn't sound right.

[2017-04-14 12:18] patrickgoeler commented on #169
No I do not, what I am doing is getting Bootstrap 4, jQuery and Tether via Cdn and we have a whole bunch of images in the site. Also we are handling Bootstrap features like modals with native bootstrap and not ng-bootstrap (yet). Dont know if that makes a difference..

[2017-04-14 12:45] hheexx commented on #174
Got it.

http host was wrong and unreachable (http://prod).
Error should be more friendly. This is on angular part I guess?

btw. host was unreachable because params.origin is taken from host field from incoming http request.
There is nginx load balancer in frond of backend that changed http host so it was wrong. Probably better value for ajax host is http://localhost:<port from kastrel>

[2017-04-14 12:47] MarkPieszak commented on #178
What shell / prompt are you trying to run these commands from? Regular command prompt or something else within an IDE / etc?

Can you try

[code]

Then retry `npm run build:dev` again. @curcas

[2017-04-14 12:50] MarkPieszak commented on #174
Great!
Was this because of a Relative URL in an Http? Like: `http.get('/api/whatever/')` ?

[2017-04-14 12:51] hheexx commented on #169
@MarkPieszak mine node is under JIT. I can't configure AOT as I can't reference module factory in virtual filesystem.
I get module not found error.

I guess I am waiting for new version of ngtools to support platform-server..

[2017-04-14 12:52] #163 closed

[2017-04-14 12:53] MarkPieszak commented on #163
Glad you're enjoying it so far! 👍
If you ever have any performance / tweaks / improvements feel free to send a PR, we're always trying to improve the repo!

[2017-04-14 12:53] hheexx commented on #174
I make absolute urls with params.origin and relative part.
params.origin was wrong because nginx changed host field.

[2017-04-14 12:53] MarkPieszak commented on #162
Yeah they definitely shouldn't have to, just figured play it safe and remove them all just incase 😆

Closing this one out, hope you got it working @novopashinmm !

[2017-04-14 12:53] #162 closed

[2017-04-14 12:56] curcas commented on #178
I'm using the default Windows Command Prompt.
Well, that worked. Miss configuration of my system or just bad luck?
Thanks for your help!

[2017-04-14 13:06] #178 closed

[2017-04-14 13:28] MarkPieszak commented on #174
Ahh ok ! :)
Having an easy enough time combining Nginx on top of this stack?

[2017-04-14 13:28] #174 closed

[2017-04-14 13:49] MarkPieszak commented on #178
Might of been either, but I've seen it happen from time to time. It's a bizarre node-sass issue.
Glad it works! Cheers.

[2017-04-14 14:44] MarkPieszak commented on #169
I've upgraded the engine to auto compile your JIT to AoT, and cache them.
Of course for Prod you want to only provide AoT to skip this auto-compile step entirely.

The engine only does SSR with AoT now, so that will help performance a lot, you might see the first 1 or 2 slightly slower when in DEVELOPMENT, but then they'll speed up a lot. I was seeing 100-300ms. (occasionally 15ms, not sure how/wh

[2017-04-14 14:44] #170 closed

[2017-04-14 14:44] #169 closed

[2017-04-14 14:49] MarkPieszak commented on #158
PR #179 now includes the `REQUEST` object that both the server & client have access to. Of course the REQUEST object is only truly populated for the Server, but the Client has it's own dependency injected version of it that only has `document.cookies`.

You should be all set now :)

[2017-04-14 14:49] #158 closed

[2017-04-14 14:50] MarkPieszak commented on #112
I have rewritten the Cache service as it's now HttpTransfer, want to give this another shot and see if it works with it now? Not sure why windows Auth breaks this regardless though 😞

[2017-04-14 14:58] MarkPieszak commented on #159
Now that we have #179 that has the REQUEST etc you should be able to handle this that way, or as Boris pointed out, and just set something or a specific response you can look for when you get the Result back in .NET from prerendering, and handle your Redirect there (instead of returning the View).

Hope that helps!

[2017-04-14 14:58] #159 closed

[2017-04-14 17:31] #100 closed

[2017-04-14 17:59] yanbu0 commented on #112
Thanks Mark!  Its going to be a bit of work getting everything in my project updated to ng4, but I will update this thread with results.

[2017-04-14 18:28] MarkPieszak commented on #112
Sounds good I can give it a shot with the base repo eventually as well, no worries!

[2017-04-14 21:47] hheexx commented on #169
Does not help me as I can't reference ngfcatory :/

`import { ServerAppModuleNgFactory } from './ngfactory/app/server-app.module.ngfactory';`

[2017-04-15 00:29] MarkPieszak commented on #169
You must have your webpack and tsconfig references setup wrong? If you're using the repo it ignores that file unless you're specifying the AoT webpack config (which ends up using it instead of the normal main.server)

[2017-04-15 20:08] hheexx commented on #169
I don't know what could be wrong.
I am using combination of this repo and microsoftjavascriptservices template.

I have genDir specified in tsconfig but I can't reference no file in it.

[2017-04-15 21:39] dguisinger opened #181 "Thoughts on implementing AuthGuard on pre-rendered apps?"
Hey Mark,
I know you've been working on passing state back to the browser.  Any thoughts on applications that have authentication needs?

I'm looking at the scenario of where the server-side doesn't know the user is authenticated on pre-render and an AuthGuard kicks them to a login page.

[2017-04-16 17:50] MarkPieszak commented on #181
How are you checking for tokens currently?

One way you could do it, is use dependency injection to have different ways to check for Auth for browser/server, maybe have the browser check for a localstorage bearer token and the sever call a rest API to check for authorization.

You're right though, it'd be a good idea to implement this in the repo so people know how to handle it!

[2017-04-16 19:04] nemad opened #183 "sass-resource-loader: Zone already loaded error"
Hi Mark,

I'm using bootstrap 4 and trying to include some scss mixins with sass-resource-loader. The problem is when I try to specify the path to include I get "Zone already loded error". I replaced scss loader with this in webpack.common.js:

    {
      test: /\.scss$/,
      use: [
        'to-string-loader',
        'css-loader',
        'sass-loader',
        {
          loader: 'sass-resour

[2017-04-17 01:51] dguisinger commented on #181
Thats a good question; for me I'm using Amazon Cognito... I've been thinking about asking a similar question on their side as they have an ng2 example if they've looked at server side rendering.  I don't know the details about how the internals of their library works for passing the token.

I figure if there is a good reference design, its easier to figure out how to adapt a library into it.

[2017-04-17 01:59] MarkPieszak commented on #181
In your case then you could take the token and use the transfer Cache to pass it down to the browser and you could reuse it there?

[2017-04-17 16:38] MarkPieszak commented on #183
I haven't ran into that one, is this using the latest updates from the repo as well?

Also does the error come up during the server or browser render?

[2017-04-17 16:40] MarkPieszak commented on #171
@hakonamatata Jan actually set up the SignalR goodness, I can't imagine it'd be too too difficult though! I don't have the bandwidth right now to take that one on, but maybe he can take a look?

[2017-04-17 18:57] yanbu0 commented on #112
Mark,

I tested windows auth with the base repo today and it appears to work fine with TransferHttp.

Was a quick test, and I simply turned it on and dropped this code into the UsersController to validate it was pulling data from AD:

`string login = User.Identity.Name;`

I will be converting my project over to Angular 4+ here this week using this template, and will update further once things are

[2017-04-17 19:14] MarkPieszak commented on #112
Excellent glad it's working! 🎁👍 That's great news.
I still some cosmetic things to do with the vendor chunking and such for webpack but those will be easy for you cherry pick and add to your app when upgrading.

I'll close this one out for other, if it creeps up again we can re-investigate it.
Cheers

[2017-04-17 20:15] hakonamatata commented on #171
I might take a look at it again this week or the one after that, but can't make any promises.

[2017-04-17 20:15] MarkPieszak commented on #171
No worries!

[2017-04-17 20:29] webnegar opened #189 "support for angular-cli"
hi, does it support for angular-cli ?

[2017-04-18 00:03] hheexx commented on #174
Yea it's easy for basic parts but I just had some nasty problems with forwarded headers and Identity.
Lost 2 days :(

[2017-04-18 00:31] TimHarker opened #190 "IE 11 Throws - SCRIPT5007: Unable to get property 'apply' of undefined or null reference, main-browser.js (22037,5)"
IE 11 Throws - SCRIPT5007: Unable to get property 'apply' of undefined or null reference, main-browser.js (22037,5), and all subsequent JavaScript fails.

![help](https://cloud.githubusercontent.com/assets/5775607/25109715/bbad1956-23ac-11e7-87b5-00ed2220b246.gif)

[2017-04-18 00:34] borgotecnologia commented on #158
I just clone your git and made my exemple.

Please find for bacon.

We have the controller with customData, mainServer with provider and I can access this value in server-app, but in mainBrowser I can't access this data to provide it. How can I access in browser-app.

What I need to do?

[Desktop.zip](https://github.com/MarkPieszak/aspnetcore-angular2-universal/files/926964/Desktop.zip)

[2017-04-18 00:51] MarkPieszak commented on #190
I need to update it in the Readme, but in the `polyfills` folder open up the polyfills.ts file, and uncomment out the import polyfills needed for ie9 -> 11.
That should take care of it :)

By default the project doesn't import them right away to keep bundle sizes down.

[2017-04-18 00:53] MarkPieszak commented on #189
So what you can do is add an `.angular-cli.json` file to reap the benefits of the Generator, but the .NET process is intertwined with everything so we can't use the CLI outright, dev & prod builds are built manually with `npm` scripts as opposed to `ng`.

Maybe someday we can add it in potentially.

Closing as duplicate of #117

[2017-04-18 00:53] #189 closed

[2017-04-18 00:54] MarkPieszak commented on #174
Did you grab headers (during the server render) through the next REQUEST InjectionToken?

[2017-04-18 01:14] rekrah commented on #190
Which read me?  I'll see if I can do a pull request and update.

[2017-04-18 01:28] MarkPieszak commented on #190
Just the main one, maybe in the FAQ section, how can I support IE9-11 or something.
Excellent thank you! @rekrah

[2017-04-18 02:22] dguisinger commented on #181
I'd have to play with Amazon's SDK some more to find out; I originally had to disable server side execution because of an exception - but maybe if I look into it more I can figure it out.  The problem with 3rd party libraries is many aren't designed with server side execution in mind.

[2017-04-18 02:25] dguisinger opened #191 "Lazy Loading with Webpack?"
Is there a way to setup lazy loading with webpack?

When I use lazy loading in my routes, it seems inconsistent, sometimes it works, sometimes it tells me it can't find the module.  But more than that, obviously we are packing the whole project into a single JS file which is the opposite of lazy loading.

Is there an easy way to add a module that lazy loads to the example that has its JS loaded on

[2017-04-18 12:30] MarkPieszak commented on #191
You should be able to just do `{ path: 'whatever', loadChildren: 'app/whatever/whatever.module#WhateverModule' }`

Is that not working?
We use ngtools here, so it's just like the angular-cli

[2017-04-18 13:51] AndeyR commented on #161
Where is the correct place to add 3rd party css-s ? I am migrating my small half work half pet project from https://github.com/aspnet/JavaScriptServices and get lost here. Project structure is much more complicated and evolving fast (so old issues answers dont work anymore). I use primeng with dependency to font awesome.

[2017-04-18 13:56] MarkPieszak commented on #161
I need to add back in the vendor.css creation, as well as the vendor chunking. Let me take a look! @AndeyR

I started it out rather simple just to get the webpack setup with ngtools so we could get AoT compilation etc.  There were a lot of things missing in the original 2.x version (as we had no AoT, no SEO, etc)

Apologies, I do understand it got a little more complicated now but I'm slowly tryin

[2017-04-18 14:10] AndeyR commented on #161
@MarkPieszak Thanks )
You have nothing to apologies for. I just havent realized that its not supposed to work fully right now and in WIP stage.

[2017-04-18 14:13] MarkPieszak commented on #161
Yeah at the moment everything is functional, there's always tweaks that could be done to improve things :)
I'll try to get those in as soon as I can as they're actually pretty important...

Any help is always appreciated :+1:

[2017-04-18 14:23] AndeyR commented on #161
Sorry, I have very little expertize in it right now, thats why I am asking silly questions like this )
Am I understand you correctly that there is no place right now where I can put reference to theme css from primeng and font-awesome.css ?
Like webpack.config.vendor.js in JavascriptServices.

[2017-04-18 14:25] MarkPieszak commented on #161
Right now you could just import it in the main.browser file for example and it'd work.

I'll get better chunking/splitting and documentation in there to help with these kinds of things soon!

[2017-04-18 14:53] consigliory commented on #165
Hi. for me hmr does not works. I did uncommented https://github.com/MarkPieszak/aspnetcore-angular2-universal/blob/master/Client/main.browser.ts
changed modulePromise.then(appModule => appModule.destroy());
to platformBrowserDynamic().destroy();
set env var as usual export ASPNETCORE_ENVIRONMENT=Development
and in console it writes [HMR] connected
but on file change it does not do anything

[2017-04-18 16:11] heqiao commented on #165
@consigliory I uncommented but didn't change that line of code. When you run `dotnet run`, what is the `Hosting environment`? I had difficulty to set the environment correctly, `ASPNETCORE_ENVIRONMENT=Development` works for me without `set` or `export` key word on Win 10 with git bash.

[2017-04-18 21:24] consigliory commented on #165
thanks @heqiao . now it show [HMR] connected in console but still not doing anything on change in any file.

[2017-04-18 22:03] nemad commented on #183
Actually, it happened (during server side prerendering) because the loader is not working, and I used a mixin inside an scss file. The funny thing is if I load the whole bootstrap like you did in app.component.scss I still cant use mixins..

[2017-04-18 22:24] consigliory commented on #165
hmr is alive and have active event stream but on file change nothing happens.

[2017-04-19 00:12] dguisinger commented on #191
It wasn't working consistently.  I'm not sure where the problem would be originating from.
I have a App Routing module located in app/modules/routingmodule.... i couldn't get to work consistently... which is weird.   Sometimes I would run the project and routing links would work fine, other times I'd run it and it would tell me it couldn't find the modules... the fact that it wasn't being consiste

[2017-04-19 01:42] #190 closed

[2017-04-19 01:50] MarkPieszak commented on #165
Might be a multitude of different things, do you have some repo we can take a look at?

[2017-04-19 10:43] pjmagee opened #194 "Error encountered resolving symbol values statically. Calling function 'InjectionToken'"
Would you happen to know why trying to use `InjectionToken` as a `Provide` value in my Providers for an Angular Module would blow up?

[code]

[2017-04-19 10:49] pjmagee commented on #144
Yep. According to the replies there, so long as you don't reference other siblings within the same barrel and instead reference them relatively, it should be fine. However others in the issue said they see no problems at all even if you reference using named paths within the same barrel. So really I don't know what the official stance is. 💃

[2017-04-19 11:20] consigliory opened #195 "Question: how to make './ngfactory/app/server-app.module.ngfactory';"
it looks like to build it I need to run command ng build --prod but it complains that it is not ng project.

[2017-04-19 11:26] MarkPieszak commented on #195
https://github.com/MarkPieszak/aspnetcore-angular2-universal/blob/master/package.json#L4-L8

    npm run build:aot

Then you could switch your Aspnetcore_Env or use the launch.json to run Prod mode:
https://github.com/MarkPieszak/aspnetcore-angular2-universal/blob/master/.vscode/launch.json#L36

When you dotnet publish or push to Azure it runs build:AoT automatically for you as well. 🎁

[2017-04-19 11:28] MarkPieszak commented on #194
Can you show how you're doing it?
Is this the ORIGIN_URL we're automatically providing in the engine?

[2017-04-19 11:33] pjmagee commented on #194
Yeah it's the same code from the repo. I think something funny is going on here. I pulled down a fresh repo and added barrels in to see if our project was having side effects and after adding barrels/paths into the project for this for things like app-models, app-modules, app-shared I'm getting similar errors like this....

[code]

[2017-04-19 11:44] MarkPieszak commented on #194
There's definitely some kind of error when it's trying to statically analyze the code, not sure why it's pointing at server transfer that's a pretty basic NgModule that doesn't even use useFactory, browser one does, but it's being exported properly.

I'm wondering if it's the barrels themselves that are causing this issue, right? Are you doing export * or export { Whatever } for everything.

[2017-04-19 12:36] pjmagee commented on #194
With the barrles I have the index.ts files with `export * from './something'`

[2017-04-19 12:58] MarkPieszak commented on #194
Yeah try to export the actual item `export { Something } from './something';`
I think `*` is one of the (many) things AoT static analysis isn't a fan of.

[2017-04-19 13:34] pjmagee commented on #194
Yeah, I updated the `*` and replace it with export `{ ActualClass } from './actual-class'` but the same problems occur. I think I've spent far too much time on just getting something to work 💃

[2017-04-19 14:06] #195 closed

[2017-04-19 14:14] MarkPieszak commented on #194
Haha I feel you on that one 😿
So I just tried and was able to get Paths working, I only setup `app-shared` so far, but seems to work after I setup the neccessary Webpack updates to setTypeScriptAlias, installed js.clone etc

I'll check it in so at least we have some of the paths setup for those who might want to use them.
With VSCode now auto importing these aren't really helpful/needed anymore.

[2017-04-19 14:32] consigliory opened #196 "Question: docker support"
I need to pack production build to docker image and on docker run  command  - > dotnet publish
it fails with message:

  npm WARN prefer global node-gyp@3.6.0 should be installed with -g
  npm ERR! Linux 4.9.13-moby
  npm ERR! argv "/usr/bin/nodejs" "/usr/bin/npm" "install"
  npm ERR! node v4.8.2
  npm ERR! npm  v2.15.11
  npm ERR! code EPEERINVALID

  npm ERR! peerinvalid The package @angular/cor

[2017-04-19 14:46] MarkPieszak commented on #196
`dotnet publish` is error'ing with that, or Docker?

Just tried publish on windows with a fresh repo and it worked fine.

Is it something related to these wanting 2.x?
npm ERR! peerinvalid Peer ng-lightning@1.3.0 wants @angular/core@>=2.0.0
npm ERR! peerinvalid Peer ng-selectize@1.0.9 wants @angular/core@^2.4.0

[2017-04-19 14:52] consigliory commented on #196
on my mac it also works dotnet publish without any issues. But once Asp2017.csproj runs npm install it fails with massage from top comment

[2017-04-19 15:02] consigliory commented on #196
just tried to build seed project with docker and got kind of same error. looks like it requires zone.js@^0.8.4 but in project 0.7.6 . I seed there was latest 0.8.4 at some point of time and then it was reverted back to 0.7.6 . Is it because it is not supported yet?!

[2017-04-19 15:17] #191 closed

[2017-04-19 15:17] MarkPieszak commented on #191
Added lazy loading demo into application, take a look at PR #197 to see what you were missing!
Hope that helps 👍

[2017-04-19 15:18] MarkPieszak commented on #165
So I didn't realize I had that code uncommented, so I just pushed it back in :)

@mcm-ham Did you want to put in a PR to add those speed improvements? Would be greatly helpful for others! 🎁